  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  <%= render "header" %>
   <div class="row">

      
      <div class="col-md-12">
        <h2 align="center">GRACIAS POR TU PEDIDO</h2>
  

        <div class="clearfix"></div>
        <div class="divider-singledotted"></div>
        <div class="mb-20"></div>
        <!-- end .mb-20 -->
       
        <h5 align="center">FAVOR DE REALIZAR EL DEPÓSITO CORRESPONDIENTE, A LA BREVEDAD NOS COMUNICAREMOS CONTIGO.</h5>
        <div class="divider-singledotted"></div>
        <div class="mb-20"></div>
        <!-- end .mb-20 --> 
        
      </div>
      <!-- end .col-md-6 -->



    </div>
</body>
</html>