<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sinergroup</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">

<!-- Web Fonts
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i|Roboto:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/plugins.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/custom.css" />

<!-- IE
================================================== -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
<div id="boxed-layout"> 
  
  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  
  <!-- Header
================================================== -->
 <%= render "header" %>
  <!-- end #header -->
  <div class="clearfix"></div>
  <!-- end .clearfix --> 
  
  <!-- Page Title
================================================== -->
  <div class="pagetitle">
    <div class="pagetitle-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Proteína Aislada</h1>
        </div>
        <!-- end .col-md-12 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
    </div>
    <!-- end .pagetitle-overlay --> 
  </div>
  <!-- end .pagetitle -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 
  

  <!-- What our client say
================================================== -->
  <div class="wrapper-graybg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Proteína Aislada</h3>
          <div class="titleline"></div>
          <!-- end .titleline-center --> 
        </div>
        <!-- end .col-md-12 -->
        
        <div class="col-md-12">
          <div class="photobox2"> <img class="frame" src="images/team/thumb5.jpg" alt="" />
            <div class="photobox2-content">
              <h4>La Proteína Aislada SG</h4>
              <p>Se extrae en un sistema altamente purificado, utilizando el proceso de microfiltración de flujo transversal. Esta proteína tiene una pureza excepcional y contiene todo el espectro de proteínas solubles desnaturalizados que se encuentra en la leche. Neutra con sabor, soluble en un amplio intervalo de pH y tiene una propiedades instantánea, con un contenido de proteínas mayor que 90%.</p>
              <p>SG proteína aislada es una solución excelente para bebidas fortificadas, barras nutritivas, productos dietéticos, postres lácteos congelados, bebidas deportivas y premezclas nutricionales. Aislado de proteína pura y naturale es altamente biodisponible para el crecimiento, la energía y la salud. Es una prima, aislado de proteína sin grasa de la leche.</p>
              <p>SG proteína aislada tiene un excelente valor nutritivo, excelente capacidad de dispersión e hidratación; es soluble en un amplio rango de pH.</p>
              <p>SG aislado de proteína tiene un perfil de sabor bajo, alto contenido de proteínas, los niveles muy bajos de lactosa y grasa, esto hace que la  proteína sea ideal para muchas aplicaciones de bebidas, como en las bebidas fortificadas y deportivas, mezclas secas nutricionales, y los productos de dieta. Este producto tiene un sabor suave, y el pH entre 6,0 a 6,5.</p>
            </div>
            <!-- end .photobox2-content --> 
          </div>
          <!-- end .photobox2 --> 
        </div>
        <!-- end .col-md-6 -->
        
        
        <div class="col-md-6">
          <div class="photobox2"> <img class="frame" src="images/team/thumb7.jpg" alt="" />
            <div class="photobox2-content">
              <h4>Usos Sugeridos</h4>
              <ul class="list-unordered">
                <li>Fortifiedbeverages.</li>
                <li>Sports/performancebeverages.</li>
                <li>Powderedsports/performancesupplements.</li>
                <li>Nutritionbars.</li>
                <li>Dieteticproducts.</li>
                <li>Frozendeserts.</li>
                <li>Dairyproducts.</li>
                <li>Infantandelderlypersonsformulas.</li>
              </ul>
            </div>
            <!-- end .photobox2-content --> 
          </div>
          <!-- end .photobox2 --> 
        </div>
        <!-- end .col-md-6 -->
        
        <div class="col-md-6">
          <div class="photobox2"> <img class="frame" src="images/team/thumb8.jpg" alt="" />
            <div class="photobox2-content">
              <h4>Caracteristicas del Producto</h4>
              <ul class="list-unordered">
                <li>ExcellentHighabsorptioncapacityproteinsource.</li>
                <li>LowFatandlactosecontent.</li>
                <li>Neutralflavor.</li>
                <li>SolubleinawidepHrange.</li>
                <li>PDCAASscore=1.</li>
              </ul>
            </div>
            <!-- end .photobox2-content --> 
          </div>
          <!-- end .photobox2 --> 
        </div>
        <!-- end .col-md-6 --> 
        
      </div>
      <!-- end .row --> 
      <div class="col-md-12">
      <h6>Nota:</h6>
       <p>Protein digestibility-corrected amino acid score (PDCAAS) is a method of evaluating the protein quality based on both the amino acid requirements of humans and their ability to digest it. The PDCAAS rating was adopted by the US Food and Drug Administration (FDA) and the Food and Agricultural Organization of the United Nations/World Health Organization (FAO/WHO) in 1993 as "the preferred 'best'" method to determine protein quality, where “=1” is the highest value.</p></div>

       <!--tabla .col-md-12 -->
      <div class="col-md-12">
        <h3>ESPECIFICACIONES</h3>
        <div class="titleline"></div>
        <!--tabla 01 -->
          <h4>Typical Analysis</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Protein...</td>
              <td>90%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Fat...</td>
              <td>1.0%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Minerals ...</td>
              <td>3.0%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Lactose...</td>
              <td>1.0%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Moisture...</td>
              <td>4.5%</td>
            </tr>
            <tr>
              <td>6</td>
              <td>pH(10%at20oC)...</td>
              <td>6.6</td>
            </tr>
          </tbody>
        </table>

        <div class="col-md-6">
          <h5>Suggested Labeling</h5>
        <ul class="list-unordered">
          <br>
          <li>High absorption capacity animal Protein concentrate, lecithin (derived from soy).</li>
          <li>Allergen information: contains milk and soy ingredients.</li>
          <li>Kosher and Halal approved</li>
        </ul>
        </div>
        <!--end tabla 04 -->

        <div class="col-md-6">
          <h5>Suggested Uses</h5>
        <ul class="list-unordered">
          <br>
          <li>Fortified beverages.</li>
          <li>Sports beverages.</li>
          <li>Nutritional dry mixes.</li>
          <li>Dietetic products.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

         <!--tabla .col-md-12 -->
      <div class="col-md-12">
        <!--tabla 01 -->
          <h4>Nutritional Information</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Calories...</td>
              <td>371</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Calories from fat ...</td>
              <td>7.6</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Total fat ...</td>
              <td>0.87g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Saturated fat ...</td>
              <td>0.36g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Polyunsaturated fat ...</td>
              <td>0.16g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Monounsaturated fat ...</td>
              <td>0.22</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Trans fatty acid ...</td>
              <td>0.02g</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Colesterol ...</td>
              <td>1.9mg</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Total Carbohydrate ...</td>
              <td>3.0g</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Sugars ...</td>
              <td>1.00g</td>
            </tr>
             <tr>
              <td>11</td>
              <td>Protein dry basis ...</td>
              <td>94gr</td>
            </tr>
             <tr>
              <td>12</td>
              <td>Vitamin A ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Vitamin C ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Thiamin ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Niacin ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Riboflavin ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Calcium ...</td>
              <td>464mg</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Sodium ...</td>
              <td>201mg</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Potassium ...</td>
              <td>600mg</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Magnesium ...</td>
              <td>80mg</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Iron ...</td>
              <td>0.6mg</td>
            </tr>
            <tr>
              <td>21</td>
              <td>Phosphorus ...</td>
              <td>350mg</td>
            </tr>
            <tr>
              <td>22</td>
              <td>Chloride ...</td>
              <td>28mg</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 01 -->

        <!--tabla 03 -->
          <h4>AMINO ACID PROFILE</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Amino Acid</th>
              <th>g/100 g protein</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Aspartic Acid...</td>
              <td>11.9</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Threonine...</td>
              <td>8.0</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Serine...</td>
              <td>5.3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Glutamic Acid...</td>
              <td>18.9</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Glycine...</td>
              <td>1.7</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Alanine...</td>
              <td>5.3</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Valine...</td>
              <td>6.3</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Isoleucine...</td>
              <td>7.2</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Leucine...</td>
              <td>11.2</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Tyrosine...</td>
              <td>3.2</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Phenylanaline...</td>
              <td>3.1</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Histidine...</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Lysine...</td>
              <td>8.8</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Arginine...</td>
              <td>2.2</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Proline...</td>
              <td>7.8</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Cystine...</td>
              <td>2.7</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Methionine...</td>
              <td>2.2</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Tryptophan...</td>
              <td>1.9</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 03 -->

        <!--tabla 03 -->
          <h4>Microbiological Analysis</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Standard Plate Count...</td>
              <td>10,000/g</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Coliform...</td>
              <td>Negative/0.1g</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Yeast and Mold...</td>
              <td>50/g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Coag. Pos. Staph...</td>
              <td>10/g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Listeria...</td>
              <td>Negative/50g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Salmonella...</td>
              <td>Negative/375g</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 03 -->

        <!--end tabla 01 -->
         </div>

              <div class="col-md-12">
          <h5>Packaging and Storage</h5>
        <ul class="list-unordered">
          <br>
          <li>Food Grade Bag.</li>
          <li>Moisture Vapor Light Barrier metal bag stand up pouch zip lock Cal. 3.6.</li>
          <li>Netweight
              <ul>
                <li>30 gr (10 pzs)</li>
                <li>150 gr</li>
                <li>450 gr</li>
                <li>1 kg</li>
                <li>3 kg</li>
                <li>5 kg</li>
              </ul>
          </li>
          <li>Store in a cool, dry, clean environment below 25° C (77o F) and at relative humidity below 65%.</li>
          <li>Keep away from strong odors and other contaminants.</li>
          <li>Use stocks in rotation for up to two years.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

      <!--end tabla .col-md-12 -->
    </div>
    <!-- end .row --> 
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 

    </div>
    <!-- end .container -->
  </div>
  <!-- end .wrapper-graybg -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->
  
 <!-- Icon Box 1
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Descargas</h3>
        <div class="titleline"></div>
        <!-- end .titleline --> 
      </div>
      <!-- end .col-md-12 --> 
    </div>
    <!-- end .row -->
    
    <div class="row">
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="docs/insolated_protein.pdf" target="_blank"><i class="fa fa-child effect-8"></i></a></div>
          <h4>Proteína Aislada</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="docs/tabla_precios.pdf" target="_blank"><i class="fa fa-usd effect-8"></i></a></div>
          <h4>Lista de Precios</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="docs/costo_bonificacion.pdf" target="_blank"><i class="fa fa-bar-chart effect-8"></i></a></div>
          <h4>Costo -  Benficio</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="shop.html" target="_blank"><i class="fa fa-cart-plus effect-8"></i></a></div>
          <h4>Tienda</h4>
          <p>Hacer pedido</p>
        </div>
      </div>
      <!-- end .col-md-3 --> 
      
    </div>
    <!-- end .row --> 
    
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->
  
  <!-- Footer Top
================================================== -->
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-top-left"> </div>
          <!-- end .footer-top-left --> 
        </div>
        <!-- end .col-md-4 -->
        
        <div class="col-md-8">
          <div class="footer-top-right"></div>
          <!-- end .footer-top-right --> 
        </div>
        <!-- end .col-md-8 --> 
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #footer-top --> 
  
  <!-- Footer
================================================== -->
   <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-about"> <a href="index.html"><img src="images/logo-footer.png" alt="" /></a>
            <p>Empresa de OUT SOURCING que inicia operaciones en enero 2004, cuenta con 11 personas ofreciendo algunas materias primas específicas para la industria de alimentos y consultoría en línea.</p>
            <div class="mb-20"></div>
            <!-- end .mb-20 -->
            <ul class="social-icons social-color">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- end .footer-about --> 
        </div>
        <!-- end .col-md-3 -->
        
        <div class="col-md-3">
          <h4>Popular</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-angle-right"></i><a href="#">Quienes Somos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Nuestros Productos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Últimas noticias</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Proyectos</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 -->
        
        
        <div class="col-md-3">
          <h4>Contacto</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-map-marker"></i><span>Dirección:</span><br>
              Jurica, Querétaro, México.</li>
            <li><i class="fa fa-phone"></i><span>Teléfono:</span><br>
              01 (442) 2186601</li>
              <li><i class="fa fa-mobile"></i><span>Celular:</span><br>
               442 275 5685 / 442 174 0218</li>
            <li><i class="fa fa-envelope"></i><span>E-mail:</span><br>
              <a href="mailto:#">mail@sinergroup.com.mx</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </footer>
  <!-- end #footer --> 
  
  <!-- Copyright
================================================== -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 

<!-- Java Script
================================================== --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/jquery-migrate-1.2.1.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="js/plugins.js"></script> 
<script src="js/custom.js"></script> 

</body>
</html>
