
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sinergroup</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="http://sinergroup.com.mx/images/favicon.ico">

<!-- Web Fonts
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i|Roboto:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="http://sinergroup.com.mx/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="http://sinergroup.com.mx/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="http://sinergroup.com.mx/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="http://sinergroup.com.mx/revolution/css/navigation.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://sinergroup.com.mx/css/plugins.css" />
<link rel="stylesheet" href="http://sinergroup.com.mx/css/style.css" />
<link rel="stylesheet" href="http://sinergroup.com.mx/css/custom.css" />

<!-- IE
================================================== -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<style type="text/css">
.back-to-top {
background-image: url(http://sinergroup.com.mx/images/assets/back-to-top.png)!important;

}
.pagetitle {
  background-image: url(http://sinergroup.com.mx/images/features/pagetitle.jpg)!important;
}
</style>

<body>
<div id="boxed-layout"> 
  
  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  <%= render "header" %>

  <div class="clearfix"></div>
  <!-- end .clearfix --> 
  
  <!-- Page Title

================================================== -->
  <div class="pagetitle">
    <div class="pagetitle-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Proteína Aislada</h1>
        </div>
        <!-- end .col-md-12 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
    </div>
    <!-- end .pagetitle-overlay --> 
  </div>
  <!-- end .pagetitle -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 
  

  <!-- What our client say
================================================== -->
  <div class="wrapper-graybg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Aislado de Proteína</h3>
          <div class="titleline"></div>
          <!-- end .titleline-center --> 
        </div>
        <!-- end .col-md-12 -->
        
        <div class="col-md-12">
          <div class="photobox2"> <img class="frame" src="http://sinergroup.com.mx/images/team/p_01.jpg" alt="" />
            <div class="photobox2-content">
              <h4>Aislado de Proteína SG</h4>
              <p>El aislado de proteína SG obtenida a partir de un sistema de ultrafiltración de alta purificación. Esta proteína es excepcionalmente pura y contiene un espectro completo de proteína desnaturalizada soluble contenida en la leche. De sabor neutro, soluble en un amplio rango de pH, con una capacidad de disolución total, con un gran contenido de proteína de más del 90%.</p>
              <p>El aislado de proteína SG, es una excelente solución para fortificar bebidas, barras de cereales, productos dietéticos, productos lácteos, productos congelados, bebidas para deportistas y mezclas nutricionales.</p>
              <p>Pura, Natural, de alta biodisponibilidad para ayudar al crecimiento, proporciona energía y salud. Es un ingrediente Premium, una fuente de proteína sin grasa proveniente de la leche.</p>
              <p>El aislado de proteína SG tiene un excelente valor nutricional, excelente dispersabilidad y capacidad de hidratación.</p>
              <p>El aislado de proteína SG tiene un perfil de sabor muy tenue, con un alto contenido de proteína y un muy bajos niveles de lactosa y grasa, haciendo de esta proteína una excelente selección para la preparación de muchas bebidas y aplicaciones, como las bebidas fortificadas y de deportistas, mezclas nutricionales en seco y productos dietéticos.</p>
              
            </div>
            <!-- end .photobox2-content --> 
          </div>
          <!-- end .photobox2 --> 
        </div>
        <!-- end .col-md-6 -->
        
        
        <div class="col-md-6">
          <div class="photobox2"> <img class="frame" src="http://sinergroup.com.mx/images/team/p_02.jpg" alt="" />
            <div class="photobox2-content">
              <h4>Sugerencias de uso</h4>
              <ul class="list-unordered">
                <li>Bebidas Fortificadas.</li>
                <li>Bebidas para Deportistas de alto rendimiento.</li>
                <li>Suplementos para deportistas de alto rendimiento y deportes extremos</li>
                <li>Barras nutricionales.</li>
                <li>Productos dietéticos.</li>
                <li>Postres congelados.</li>
                <li>Productos lácteos.</li>
                <li>Fórmulas para infantes y personas de edad avanzada.</li>
              </ul>
            </div>
            <!-- end .photobox2-content --> 
          </div>
          <!-- end .photobox2 --> 
        </div>
        <!-- end .col-md-6 -->
        
        <div class="col-md-6">
          <div class="photobox2"> <img class="frame" src="http://sinergroup.com.mx/images/team/p_03.jpg" alt="" />
            <div class="photobox2-content">
              <h4>Características del producto</h4>
              <ul class="list-unordered">
                <li>Fuente de proteína con una alta capacidad y absorción muscular.</li>
                <li>Muy bajo contenido de grasa y lactosa (menos del 1%).</li>
                <li>Sabor neutro.</li>
                <li>Soluble en un muy amplio rango de pH.</li>
                <li>Tiene el más alto valor de digestibilidad que existe en el mercado.</li>
              </ul>
            </div>
            <!-- end .photobox2-content --> 
          </div>
          <!-- end .photobox2 --> 
        </div>
        <!-- end .col-md-6 --> 
        
      </div>
      <!-- end .row --> 

       <!--tabla .col-md-12 -->
      <div class="col-md-12">
        <h3>ESPECIFICACIONES</h3>
        <div class="titleline"></div>
        <!--tabla 01 -->
          <h4>Análisis Típicos</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Proteína ...</td>
              <td>>90%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Grasa ...</td>
              <td><1.0%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Minerales ...</td>
              <td>3.0%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Lactosa...</td>
              <td><1.0%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Humedad ...</td>
              <td>4.5%</td>
            </tr>
            <tr>
              <td>6</td>
              <td>pH(10% a 20oC)...</td>
              <td>6.6</td>
            </tr>
          </tbody>
        </table>

        <div class="col-md-6">
          <h5>Recomendaciones para etiquetado:</h5>
        <ul class="list-unordered">
          <br>
          <li>Aislado de proteína Animal de alta capacidad de absorción, Lecitina (Derivado de la soya).</li>
          <li>Información Alérgenos: Contiene leche e ingredientes de la soya.</li>
          <li>Aprobación Kosher y Halal.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

        <div class="col-md-6">
          <h5>Sugerencias de uso:</h5>
        <ul class="list-unordered">
          <br>
          <li>Bebidas fortificadas.</li>
          <li>Bebidas para deportistas.</li>
          <li>Mezclas secas nutrimentales.</li>
          <li>Productos de dieta.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

         <!--tabla .col-md-12 -->
      <div class="col-md-12">
        <!--tabla 01 -->
          <h4>Información Nutrimental</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Calorías...</td>
              <td>371 kcal</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Calorías derivadas de la grasa ...</td>
              <td>7.6 kcal</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Grasa Total ...</td>
              <td>0.87g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Grasas Saturadas ...</td>
              <td>0.36g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Grasas Poliinsaturadas ...</td>
              <td>0.16g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Grasas Monoinsaturadas ...</td>
              <td>0.22</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Ácidos Graos Trans ...</td>
              <td>0.02g</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Colesterol ...</td>
              <td>1.9mg</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Carbohidratos Totales ...</td>
              <td>3.0g</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Fibrá Dietética ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Azucares ...</td>
              <td>1.00g</td>
            </tr>
             <tr>
              <td>12</td>
              <td>Proteina en base seca ...</td>
              <td>94gr</td>
            </tr>
             <tr>
              <td>13</td>
              <td>Vitamina A ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Vitamina C ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Tiamina ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Niacina ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Riboflavina ...</td>
              <td>-</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Calcio ...</td>
              <td>464mg</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Sodio...</td>
              <td>201mg</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Potasio ...</td>
              <td>600mg</td>
            </tr>
            <tr>
              <td>21</td>
              <td>Magnesio...</td>
              <td>80mg</td>
            </tr>
            <tr>
              <td>22</td>
              <td>Hierro ...</td>
              <td>0.6mg</td>
            </tr>
            <tr>
              <td>23</td>
              <td>Fosforo ...</td>
              <td>350mg</td>
            </tr>
            <tr>
              <td>24</td>
              <td>Cloruros ...</td>
              <td>28mg</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 01 -->

        <!--tabla 03 -->
          <h4>Perfil de Aminoácidos</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Aminoácidos</th>
              <th>g/100 g proteína</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Acido Aspártanico...</td>
              <td>11.9 g</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Treonina...</td>
              <td>8.0 g</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Serina...</td>
              <td>5.3 g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Acido Glutámico...</td>
              <td>18.9 g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Glicina...</td>
              <td>1.7 g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Alanina...</td>
              <td>5.3 g</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Valina...</td>
              <td>6.3 g</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Isoleucina...</td>
              <td>7.2 g</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Leucina...</td>
              <td>11.2 g</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Tirosina...</td>
              <td>3.2 g</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Fenilalanina...</td>
              <td>3.1 g</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Histidina...</td>
              <td>2.1 g</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Lisina...</td>
              <td>8.8 g</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Arginina...</td>
              <td>2.2 g</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Prolina...</td>
              <td>7.8 g</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Cisteína...</td>
              <td>2.7 g</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Metionina...</td>
              <td>2.2 g</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Triptófano...</td>
              <td>1.9 g</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 03 -->

        <!--tabla 03 -->
          <h4>Análisis Microbiológicos</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Cuenta estándar ...</td>
              <td>10,000 cfu/g</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Coliformes...</td>
              <td>Negative/0.1g</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Hongos y Levaduras...</td>
              <td<50 cfu/g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Coag. Pos. Staph...</td>
              <td><10 cfu/g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Listeria...</td>
              <td>Negativo/50g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Salmonella...</td>
              <td>Negativo/375g</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 03 -->

        <!--end tabla 01 -->
         </div>

              <div class="col-md-12">
          <h5>Empacado y Almacenamiento</h5>
        <ul class="list-unordered">
          <br>
          <li>Empacado en bolsa grado alimenticio con Zip Cal. 3.6</li>
          <li>Bolsa “Pouch” o “Stand up” de aluminio con barrera a la humedad, vapor y luz.</li>
          <li>Pesos netos:
              <ul>
                <li>30 gr (10 pzs)</li>
                <li>150 gr</li>
                <li>450 gr</li>
                <li>1 kg</li>
                <li>3 kg</li>
                <li>5 kg</li>
                <li>Empaque al tamaño y peso de la elección del cliente bajo pedidos de más de 1 kg.</li>
              </ul>
          </li>
          <li>Almacenarse de preferencia en un lugar fresco y seco.</li>
          <li>De preferencia en un ambiente debajo de los 25oC y con una humedad relativa no mayor al 65%.</li>
          <li>Mantener alejado de aromas u olores fuertes y de cualquier otro tipo de contaminantes ambientales.</li>
          <li>Con un manejo adecuado de inventario y la rotación correcta, el producto puede durar más de 2 años.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

      <!--end tabla .col-md-12 -->
    </div>
    <!-- end .row --> 
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 

    </div>
    <!-- end .container -->
  </div>
  <!-- end .wrapper-graybg -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->
  
 <!-- Icon Box 1
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Descargas</h3>
        <div class="titleline"></div>
        <!-- end .titleline --> 
      </div>
      <!-- end .col-md-12 --> 
    </div>
    <!-- end .row -->
    
    <div class="row">
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="#" target="_blank"><i class="fa fa-child effect-8"></i></a></div>
          <h4>Aislado de Proteína</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="http://sinergroup.com.mx/pdf/Precios_AP.pdf" target="_blank"><i class="fa fa-usd effect-8"></i></a></div>
          <h4>Lista de Precios</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="http://sinergroup.com.mx/pdf/cCost_bon_AP.pdf" target="_blank"><i class="fa fa-bar-chart effect-8"></i></a></div>
          <h4>Costo -  Benficio</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="http://sinergroup.herokuapp.com/" target="_blank"><i class="fa fa-cart-plus effect-8"></i></a></div>
          <h4>Tienda</h4>
          <p>Hacer pedido</p>
        </div>
      </div>
      <!-- end .col-md-3 --> 
      
    </div>
    <!-- end .row --> 
    
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->
  
  <!-- Footer Top
================================================== -->
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-top-left"> </div>
          <!-- end .footer-top-left --> 
        </div>
        <!-- end .col-md-4 -->
        
        <div class="col-md-8">
          <div class="footer-top-right"></div>
          <!-- end .footer-top-right --> 
        </div>
        <!-- end .col-md-8 --> 
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #footer-top --> 
  
  <!-- Footer
================================================== -->
   <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-about"> <a href="http://sinergroup.com.mx/index.html"><img src="http://sinergroup.com.mx/images/logo-footer.png" alt="" /></a>
            <p>Empresa de OUT SOURCING que inicia operaciones en enero 2004, cuenta con 11 personas ofreciendo algunas materias primas específicas para la industria de alimentos y consultoría en línea.</p>
            <div class="mb-20"></div>
            <!-- end .mb-20 -->
            <ul class="social-icons social-color">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- end .footer-about --> 
        </div>
        <!-- end .col-md-3 -->
        
        <div class="col-md-3">
          <h4>Popular</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-angle-right"></i><a href="#">Quienes Somos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Nuestros Productos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Últimas noticias</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Proyectos</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 -->
        
        
        <div class="col-md-3">
          <h4>Contacto</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-map-marker"></i><span>Dirección:</span><br>
              Jurica, Querétaro, México.</li>
            <li><i class="fa fa-phone"></i><span>Teléfono:</span><br>
              01 (442) 2186601</li>
              <li><i class="fa fa-mobile"></i><span>Celular:</span><br>
               442 275 5685 / 442 174 0218</li>
            <li><i class="fa fa-envelope"></i><span>E-mail:</span><br>
              <a href="mailto:#">mail@sinergroup.com.mx</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </footer>
  <!-- end #footer --> 
  
  <!-- Copyright
================================================== -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 

<!-- Java Script
================================================== --> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058280/jquery-1.11.3.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058370/jquery-migrate-1.2.1.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058415/bootstrap1.min.js"></script> 
<script type="text/javascript" src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058500/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058547/jquery.themepunch.revolution.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058602/plugins.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058643/custom.js"></script> 

</body>
</html>
