<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sinergroup</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">

<!-- Web Fonts
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i|Roboto:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/plugins.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/custom.css" />

<!-- IE
================================================== -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>
<div id="boxed-layout"> 
  
  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  
  <!-- Header
================================================== -->
<%= render "header" %>
  <!-- end #header -->
  <div class="clearfix"></div>
  <!-- end .clearfix --> 


  
  <!-- Page Title
================================================== -->
  <div class="pagetitle">
    <div class="pagetitle-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Complementos SG</h1>
        </div>
        <!-- end .col-md-12 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
    </div>
    <!-- end .pagetitle-overlay --> 
  </div>
  <!-- end .pagetitle -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->


  <!-- Accordion
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>COMPLEMENTOS</h3>
        <div class="titleline"></div>
        <!-- end .titleline -->
        
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">OMEGA 3 (DHA) y 6 (AA)</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Es bien sabido que la alimentación es una fuente importante de ácidos grasos, esta contribución es vital para mantener un nivel de grasas estable, suministrando al cuerpo los ácidos grasos esenciales. Los ácidos grasos calificados de esenciales incluyen los omega-3 y omega-6, dichos ácidos grasos el cuerpo humano no puede sintetizarlos, o los sintetiza en cantidades insuficientes, por lo tanto es necesaria una ingesta mínima y regular por medio de la alimentación.</p>
                <p>Se llaman ácidos grasos esenciales a algunos ácidos grasos, como el linoleico, linolénico o el araquidónico que el organismo no puede sintetizar, por lo que deben obtenerse por medio de la dieta.</p>
                <p>Dentro de este grupo encontramos el ácido linolénico (omega 3) y el linoleico (omega 6) que son esenciales para el ser humano, ambos tienen un efecto beneficioso en general, ya que disminuyen el colesterol total.</p>
                <p>Se ha demostrado experimentalmente que el consumo de grandes cantidades de omega-3 aumenta considerablemente el tiempo de coagulación de la sangre, lo cual explica por qué en comunidades que consumen muchos alimentos con omega-3 (esquimales, japoneses, etc.) la incidencia de enfermedades cardiovasculares es sumamente baja.</p>
                <p>Algunas experiencias sugieren también que el consumo de omega-3 tiene efectos benéficos sobre el cerebro. Altas cantidades podrían disminuir los efectos de la depresión e incluso grupos de niños en edad escolar aumentaron notablemente su rendimiento después de ingerir pastillas con aceite de pescado (rico en omega-3).</p>
                <p>Algunos de las teorías más avanzadas sobre el consumo de Omega 3 hablan sobre la Prevención de la demencia y esquizofrenia. Existe un creciente cúmulo de pruebas a partir de estudios biológicos, observacionales y epidemiológicos que sugiere un efecto protector de los omega 3 contra la demencia. Sin embargo, hasta que se disponga de datos de ensayos aleatorios para el análisis, no existen pruebas de calidad para apoyar el uso dietético o suplementario de omega 3 para la prevención del deterioro cognitivo o la demencia.</p>
        <!--end tabla 04 -->

              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">FIBRA (FOS) INULINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Es una fibra soluble capaz de absorber el agua con gran facilidad, contribuyendo a la disminución de absorción de asulcar, colesterol y triglicéridos en el aparato digestivo, reduciendo así la posible presencia de enfermedades cardiovasculares, evitando la aparición de estreñimiento, hemorroides y diabetes.</p>
                <h5>Las fibras poseen propiedades muy importantes:</h5>
        <ul class="list-unordered">
          <li>Absorben el agua (hasta 5 veces su peso).</li>
          <li>Aumentan el volumen de las heces (eliminan el estreñimiento)</li>
          <li>Aceleran el transito intestinal.</li>
          <li>Permiten eliminar el colesterol y ciertas sales biliares.</li>
          <li>Disminuyen la cantidad de glucosa y de ácidos grasos en la sangre.</li>
          <li>Ayudan a eliminar ciertas sustancias cancerígenas.</li>
          <li>Procuran un medio favorable al desarrollo de ciertas bacterias del colon, que producen sustancias útiles para el organismo y capaces de detoxificar agentes cancerígenos.</li>
          <li>Finalmente, al dar una impresión de saciedad, obligan a reducir la cantidad de alimentos ingeridos.</li>
        </ul>
                <p>Las fibras presentan el inconveniente de eliminar más rápidamente ciertas sales minerales, (hierro, zinc, calcio). Esta perdida debe ser compensada con una alimentación bien equilibrada en minerales.</p>
                <p>La fibra soluble: está formada por componentes (inulina, pectinas, gomas y fructo-fs oligosacáridos (FOS)) que captan mucha agua y son capaces de formar geles viscosos. Es muy fermentable por los microorganismos intestinales, por lo que produce gran cantidad de gas en el intestino. Al ser muy fermentable favorece la creación de flora bacteriana que compone 1/3 del volumen fecal, por lo que este tipo de fibra también aumenta el volumen de las heces y disminuye su consistencia. La fibra soluble, además de captar agua, es capaz de disminuir y ralentizar la absorción de grasas y azúcares de los alimentos (índice), lo que contribuye a regular los niveles de colesterol y de glucosa en sangre. Al impedir que sean absorbidas las sustancias cancerígenas protege contra el cáncer de páncreas y de mama en mayor medida.</p>
                <p>Suprime la síntesis de colesterol hepático y reduce los niveles de LDL colesterol y triglicéridos, responsables de enfermedades cardiovasculares (como la ateroesclerosis).</p>
                <p>Disminuye el pH colónico, lo cual evita la formación de pólipos colónicos e incrementa la absorción de minerales.</p>
                <p>Incrementa la proliferación de la flora bacteriana colónica (bífidobacterias y lactobacillus), lo cual estimula la salud intestinal.</p>
                <p>En cuanto a los potenciales usos terapéuticos, ya se ha indicado que favorece la absorción de calcio por lo que tiene virtual interés en el mantenimiento de la salud ósea.</p>
                <p>Los alimentos que contienen inulina en grandes cantidades pueden provocar flatulencia y molestias intestinales, en especial en aquellas personas que no están acostumbradas a ingerirlos. Es recomendable entonces que tales alimentos sean consumidos en pequeñas cantidades al principio, hasta que el organismo se adapte.</p>
                <p>La inulina es un integrante de la fibra alimentaria, en particular de la llamada fibra soluble. Al ser moderadamente soluble en agua, tiene además la propiedad de formar geles que retienen una gran cantidad de agua.</p>
                <p>La inulina estimula el crecimiento de la microflora intestinal (microorganismos pobladores del intestino) benéfica. Ello se debe a que atraviesa el estómago y el duodeno prácticamente sin sufrir cambios y alcanza el intestino delgado casi sin digerir. Aquí está disponible para ser metabolizada por algunos de los microorganismos intestinales, como las bífido bacterias y los lactobacilos, promoviendo su asentamiento y desarrollo. Por favorecer el crecimiento de las bifidobacterias se dice que la inulina tiene un efecto bifidogénico y por promover el crecimiento de microorganismos beneficiosos para la salud se considera que tiene actividad prebiótica.</p>
                <p>La inulina es una sustancia natural que brinda efectos saludables al organismo. Sólo con el consumo de entre 5 a 8 gramos diarios de inulina por día se logran estos beneficios.</p>
                <p>La inulina es un carbohidrato complejo (fibra soluble) producido por ciertas plantas y alimentos. Esta posee propiedades tanto tecnológicas como nutricionales, ya que no sólo es beneficiosa para la salud, sino que mejora el sabor y la textura de los productos elaborados.</p>

        <ul class="list-unordered">
          <li>Ejerce un efecto prebiótico, debido a que estimula la flora intestinal, como por ejemplo el bifidus.</li>
          <li>Regulariza el tránsito intestinal, evitando el estreñimiento.</li>
          <li>Reduce el riesgo de que se produzca cáncer de colon.</li>
          <li>Mejora la absorción de los nutrientes esenciales como minerales y vitaminas.</li>
          <li>Disminuye la absorción de colesterol y grasas saturadas.</li>
          <li>Reduce la absorción de glucosa, por lo que se puede utilizar para el tratamiento natural de la diabetes.</li>
        </ul>
                
                <p>Estas propiedades convierten a la inulina en un nutriente funcional para el tratamiento de diversas enfermedades ya sean degenerativas y/o metabólicas.</p>

              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->

           <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">LACTOFERRINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>La Lactoferrina es una glicoproteína purificada obtenida a partir de la leche, esta tiene la afinidad de ligarse con el hierro, lo que le da su característica principal que es la de su actividad antimicrobiana, función que logra a partir de la privación de hierro libre que necesitan los microbios para crecer.</p>
                <p>En otras palabras, induce y mata de anemia, a los microorganismos dañinos que entran al cuerpo humano. debido a la deficiencia de hierro provocada en estos. Las bacterias, virus, células cancerosas y otros agentes patógenos que requieren hierro para crecer, no podrán sobrevivir si la lactoferrina se une al hierro en la sangre y lo mantiene alejado de esas células. La potente actividad antimicrobiana de la lactoferrina contra una gran variedad de bacterias, virus, levaduras, hongos y parásitos, está ampliamente documentada.</p>
                <p>La lactoferrina es sintetizada en el cuerpo humano, principalmente, por los granulocitos neutrófilos (glóbulos blancos de la sangre). El nombre lactoferrina proviene de la primera fuente en que se la ha encontrado (leche vacuna) y de su gran potencial de ligarse a los iones libres de hierro dentro de un muy amplio rango de pH.</p>
                <p>Esta glicoproteína es un componente muy importante contra los micro organismos patógenos que intentan entrar en el cuerpo vía las mucosas. La tarea de la lactoferrina consiste en limitar el proceso inflamatorio y el daño tisular, previniendo una infección sistémica, además de que se tienen casos donde a inhibido también reacciones alérgicas.</p>
                <p>La lactoferrina es bastante resistente a la degradación proteolítica. Después de su ingestión oral una parte de la lactoferrina se degrada en péptidos como la lactoferricina y lactorampina por las proteasas del estómago y el intestino delgado. Estos péptidos posiblemente poseen todavía más potencia antimicrobiana que la misma lactoferrina.</p>
                <p>La lactoferrina (inclusivo los metabolitos lactoferricina y lactoferrampina) tiene una potente actividad bacteriostática y bactericida contra las bacterias gram positivas y gram negativas (entre ellas Helicobacter sp., Estafilococo sp., Estreptococo sp., Escherichia coli, Salmonella sp., Shigella disentería, Listeria monocytogenes, Bacillus sp., Clostridium sp., Legionella pneumoni´a, Haemophilus influenza, Klebsiella pneumonía, Pseudomonas aeruginosa, Enterobacter sp., Micrococo sp., Vibrio sp., Shigella, Proteus vulgaris).</p>
                <h5>Además la lactoferrina también:</h5>

        <ul class="list-unordered">
          <li>Es eficaz contra las bacterias resistentes a los antibióticos.</li>
          <li>tiene una potente actividad antiviral contra un gran cantidad de virus ARN y ADN que pueden infectar al ser humano y animales (entre otros el rotavirus, virus herpes (tipo 1 y 2), virus hepatitis (tipo B, C y G), virus influenza, HIV, hantavirus, poliovirus, adenovirus, enterovirus, cytamegalovirus, entre otros.</li>
          <li>Mejoro la composición de la flora intestinal porque combate los microbios patógenos.</li>
          <li>Frena significativamente el crecimiento de Entreobacteriaceae, Estreptococo y Clostridium bacterias, igual como en la translocación de las bacterias intestinales Entreobacteriaceae.</li>
          <li>Mejora las defensas de personas mayores (que tienen la capacidad de auto síntesis de la lactoferrina reducida).</li>
          <li>Prevención de las infecciones ocasionales en personas con las defensas (muy) reducidas.</li>
          <li>Prevención de enfermedades infecciosas (virus, bacterias, hongos, parásitos) en personas sanas.</li>
          <li>Tratamiento complementario para infecciones agudas, crónicas y recidivas (úlcera estomacal, infecciones gastrointestinales, faringitis, infecciones de las vi´as respiratorias, gripe, infecciones cutáneas como la tinea corpis, HIV, hepatitis).</li>
          <li>Tratamiento complementario de las enfermedades infecciosas crónicas, entre otras las del tracto digestivo y Alergias.</li>
        </ul>


                <p>Hay indicaciones muy convincentes de que la lactoferrina estimula la proliferación y la diferenciación de las células epiteliales del intestino delgado que incrementa la masa del tejido y mejora la absorción de nutrientes (entre ellas el hierro) De este modo la lactoferrina no solo favorece las mucosas si no tambie´n la piel y los huesos. Los ensayos in Vitro e in Vivo sugieren que el uso tópico de lactoferrina favorece la curación de heridas y estimula la reorganización de la matriz del colágeno vía la estimulación de los fibroblastos.</p>
                <h5>RECOMENDACIONES DE USO</h5>

        <ul class="list-unordered">
          <li>Las dosis habituales son 150-750 mg. al día.</li>
          <li>Dosis hasta 3 gramos no son excepcionales. Estas dosis se consideran seguras: los lactantes que reciben leche materna ingieren durante meses de 1 a 3 gramos al día.</li>
          <li>Los complementos de lactoferrina están indicados para el uso oral y pueden ser usados para realizar enjuagues bucales y gárgaras (en infecciones bucales y faringes.</li>
          <li>La literatura científica ha descrito varias aplicaciones para llevar la lactoferrina al tejido adecuado (inyección intravenosa o local, uso tópico en crema, en líquido para nebulizar o ducha vaginal).</li>
          <li>Interacciones negativas con nutrientes o medicamentos no se han descrito.</li>
          <li>La lactoferrina ejerce un efecto aditivo o sinérgico positivo con antibióticos, medicamentos antivirales, antimicóticos y antiparasitarios.</li>
        </ul>

                <h5>"Sin embargo, el consumo elevado de este suplemento alimenticio, siempre deberá de ser con el debido cuidado, y en caso de requerirse bajo la observación de un médico competente ya que como todo suplemento, el uso de estos productos, es responsabilidad de quien los consume".</h5>
              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">L-ARGININA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>La L-arginina es uno de los 20 aminoácidos que se encuentran formando parte de las proteínas. Este aminoácido se encuentra involucrado en muchas de las actividades de las glándulas endocrinas</p>
                <p>La arginina es un aminoácido condicionalmente esencial (se necesita en la dieta solo bajo ciertas condiciones), y puede estimular la función inmunológica al aumentar el número de leucocitos. La arginina está involucrada en la síntesis de creatina, poliaminas y en el ADN.</p>
                <p>Puede disminuir el colesterol para mejorar la capacidad del aparato circulatorio, así como estimular la liberación de hormona de crecimiento (somatropina), reducir los niveles de grasa corporal y facilitar la recuperación de los deportistas debido a los efectos que tiene de retirar amoníaco (residuo muscular resultante del ejercicio anaeróbico) de los músculos y convertirlo en urea que se excreta por la orina.</p>
                <p>Se emplea en la biosíntesis de la creatina. Se suele encontrar en ciertos productos ergogénicos que contienen Óxido Nítrico (NO) ya que potencia los efectos vasodilatadores. La arginina es un aminoácido no esencial, que nuestro organismo puede producir por si mismo, y cuyo precursor es la ornitina (el cual tiene un papel fundamental para reducir la grasa corporal y construir el músculo).</p>
                <p>Fortalece el sistema inmunitario, por lo que es útil para aumentar las defensas, Regula las hormonas y el azúcar en sangre, Necesaria para el buen funcionamiento del hígado, Fundamental para el buen funcionamiento de la piel, las articulaciones y la musculatura (producción de energía muscular), Ayuda a la eliminación de las toxinas de nuestro cuerpo, promueve la producción de proteínas útiles para reparar el desgaste de los tejidos musculares y aumenta los niveles de la hormona del crecimiento.</p>
                <p>La cantidad diaria recomendada de Arginina va en relación con el peso, pero una dosis segura baja seria de entre 3 y 5 gr. por día, nunca superando estas cantidades:</p>

        <ul class="list-unordered">
          <li>Puede tener que ver en la prevención y tratamiento del cáncer.</li>
          <li>Potencia la síntesis del colágeno acelerando con ello, la cicatrización de las heridas.</li>
          <li>Promueve y mejora la fertilidad masculina.</li>
          <li>Se puede utilizar en el tratamiento de la enfermedad de Peyronie al disolver el tejido cicatrizado del pene que caracteriza a esta enfermedad.</li>
          <li>Mejora la cantidad y motilidad de los espermatozoides.</li>
          <li>Ayuda en los casos de impotencia.</li>
          <li>Ayuda a disminuir el colesterol y en consecuencia a reducir el riesgo de arteriosclerosis.</li>
          <li>Ayuda en la infertilidad femenina.</li>
          <li>Tiene utilidad terapéutica en la cistitis intersticial porque evita que la vejiga sufra de las fuertes contracciones que causan dolor.</li>
          <li>Alivia las enfermedades producidas por las continuas y fuertes contracciones musculares ya que tiene la capacidad de provocar la producción óxido nítrico, que es un agente químico que relaja los espasmos.</li>
          <li>Comprobada su efectividad terapéutica como nutriente en el tratamiento de las hemorroides a pesar de que muchos creen que pueden estar causadas por espasmos a nivel del esfínter anal.</li>
          <li>A través de la experiencia clínica, se ha demostrado que se puede usar esta sustancia como un agente preventivo de los ataques cardíacos ya que dilata a las arterias, evitando de esta manera la formación de coágulos y además, previene la producción de placas en las paredes vasculares arteriales.</li>
          <li>Lo mismo sucede en el daño de las válvulas cardíacas asociado con la fenfluramina. Se ha utilizado con éxito como apoyo nutricional en el síndrome de respuesta inflamatoria sistémica y el fallo multiorgánico en pacientes poli traumatizados.</li>
          <li>Previene y combate la pérdida de cabello.</li>
        </ul>

                <p>Su deficiencia puede ocasionar una serie de trastornos en el organismo como: Alteraciones en el crecimiento, debilidad y cansancio muscular, mayor predisposición a padecer arterioesclerosis, provoca la presencia excesiva de amoníaco o lisina, caída del pelo, estreñimiento, hígado graso y eritemas.</p>
                <p>Ha sido estudiada para fisicoculturismo, ya que la gente la busca para aumentar su masa muscular y recurre a la arginina para lograrlo debido a que sus efectos son muy destacados (una de sus principales funciones es la de ser un fuerte energizante de nuestro organismo).</p>
                <p>La arginina también hace que el cuerpo produzca proteína, Curación de heridas, producción aumentada de esperma y prevención de enfermedades debilitantes en personas con padecimientos graves, entre otros.</p>
                <p>La arginina es un precursor del óxido nítrico, una substancia que causa vasodilatación de los vasos sanguíneos. Por ende, la arginina puede ser útil para afecciones que mejoran con la vasodilatación, como el dolor de pecho, las arterias obstruidas, padecimientos de las arterias coronarias, fallas cardíacas, disfunción eréctil, claudicación intermitente, padecimiento vascular periférico y dolores de cabeza vasculares.</p>
                <h5>Disfunción eréctil:</h5>
                <h5>Uno de los usos más populares de la arginina L es el tratamiento de la disfunción sexual. De acuerdo con "Journal of the American Medical Association", el 43 por ciento de las mujeres y el 31 por ciento de los hombres padecen disfunción sexual. En el sentido más amplio, la disfunción sexual es la incapacidad de disfrutar por completo del acto sexual. Para las mujeres suele ser la pérdida del apetito sexual o la dificultad para alcanzar el orgasmo. Para los hombres, se manifiesta en forma de impotencia o disfunción eréctil. El flujo sanguíneo insuficiente es un factor de mayor importancia para la erección incompleta en los hombres. Se ha mostrado que la L-arginina mejora el flujo sanguíneo hacia el área genital por la dilatación de vasos sanguíneos, y permite que el pene se agrande hasta su capacidad total. Las mujeres experimentan un efecto semejante de flujo sanguíneo incrementado, lo que hace que los tejidos vaginales y del clítoris sean más sensibles ante el estímulo sexual. Tanto hombres como mujeres han informado que la L-arginina incrementa su apetito sexual.</h5>
              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">GLUCOSAMINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>La glucosamina es una sustancia química natural que se encuentra en el cuerpo y se usa en forma de suplementos para aliviar el dolor de las articulaciones causado por la artritis y la osteoartritis.</p>
                <p>El cuerpo la usa para producir una variedad de otras sustancias que están involucradas en la formación de tendones, ligamentos, cartílago, y el líquido espeso que rodea las articulaciones.</p>
                <p>La glucosamina servida como suplemento dietético se emplea también en la reconstrucción de los cartílagos.</p>
                <p>La glucosamina ayuda a mantener el cartílago sano en las articulaciones sanas. Según diversos estudios, la glucosamina ha demostrado aliviar las siguientes enfermedades:</p>

        <ul class="list-unordered">
          <li>Osteoartritis.</li>
          <li>Artritis reumatoide.</li>
          <li>Enfermedad inflamatoria intestinal.</li>
          <li>Asma.</li>
          <li>Lesiones deportivas.</li>
          <li>Dolor de espalda.</li>
        </ul>

                <p>La glucosamina se encuentra también en otros lugares en la naturaleza. Por ejemplo, la glucosamina que se utiliza en los suplementos dietéticos proviene a menudo de las conchas de los mariscos.</p>
                <p>Aunque los suplementos de sulfato de glucosamina a menudo se fabrican a partir de las capas exteriores de los mariscos, no hay fuentes de alimentos naturales de glucosamina.</p>
                <p>Según investigaciones científicas, las dosis recomendadas de glucosamina para adultos de más de 18 años es de 500 miligramos de sulfato de glucosamina por vía oral, 3 veces al día durante 30 a 90 días o Una dosis única diaria de 1.500 miligramos.</p>
                <p>Las articulaciones están amortiguadas por el líquido y cartílago que las rodean. En algunas personas con osteoartritis, el cartílago se rompe y se adelgaza. Esto resulta en más fricción en las articulaciones, dolor, y rigidez. Investigadores piensan que el tomar suplementos de glucosamina puede ya sea aumentar la cantidad de cartílago y líquido que rodea la articulación o bien prevenir el deterioro o de estas sustancias o tal vez hacer las dos cosas.</p>
                <p>Algunos investigadores piensan que la parte “sulfato” del sulfato de glucosamina es también importante. El cuerpo necesita sulfato para producir cartílago. Esta es una de las razones por la cual los investigadores creen que el sulfato de glucosamina podría funcionar mejor que otras formas de glucosamina tales como el clorhidrato de glucosamina o la glucosamina acetilada.</p>
                  <h5>Estos otros compuestos no contienen sulfato.</h5>
                <p>Glucosamina: cápsulas, tabletas, líquido o polvo, 1,500 mg (miligramos) al día.</p>
                <p>Generalmente se recomienda ingerir la glucosamina y el sulfato de condroitina juntos.</p>
              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->

           <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">COLAGENO HIDROLIZADO</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>El colágeno es una proteína y esta, a su vez, se compone de varios aminoácidos, los cuales son muy importantes para nuestro cuerpo conformando el tejido conectivo. Proporciona principalmente la elasticidad de nuestra piel, la prevención de las arrugas y la flacidez, incluso para prevenir las estrías y la celulitis (al estar tan unidos forman una fibra resistente).</p>
                <p>La composición proteica es tan específica, que proporciona propiedades beneficiosas que no se pueden encontrar en otras fuentes de proteínas. El colágeno contiene 30% de las proteínas presentes en nuestro cuerpo.</p>
                <p>El colágeno es la proteína más grande y más abundante en el cuerpo, lo que representa alrededor del 65% de nuestra proteína total; está compuesta de aminoácidos, tales como glicina, prolina, arginina, hidroxiprolina y es la proteína más grande del cuerpo, tiene una cadena de más de 1500 aminoácidos.</p>
                <p>Para ser absorbido, el colágeno debe pasar por un proceso de hidrólisis , que es una ruptura de moléculas, ya después de eso el colágeno tendrá una absorción del 90%.</p>
                <p>El Colágeno hidrolizado tiene una mayor facilidad de absorción. Es el más adecuado ya que se absorbe en las primeras etapas de la digestión. El polvo de colágeno cae directamente en el torrente sanguíneo una vez ingerido, beneficiándose todo el organismo. Es el mejor aliado contra la flacidez de la piel y, cuando se combina con ejercicio, mejora en gran medida la calidad de la masa corporal magra.</p>
                <p>El colágeno es el tejido conjuntivo para casi todas nuestras estructuras, incluyendo: corazón, pulmones, arterias, discos, células sanguíneas, piel, músculos, huesos, cartílago hígado, pelo, articulaciones, uñas, próstata, entre otros órganos.</p>
                <p>Ayuda en la pérdida de peso, tiene un valor muy bajo de calorías y no contiene azúcar, estimula la secreción de GH (hormona del crecimiento), que a su vez ayuda a quemar la grasa corporal y da mantenimiento a la masa magra (músculos) en su cuerpo.</p>
                <p>Es un componente de proteína esencial en los huesos, tendones y cartílagos, ayuda a prevenir la Osteoporosis, enfermedad que hace a las personas muy sensibles a las fracturas, no importa cuán pequeño sea el accidente.</p>
                <p>Existen factores muy importantes para la pérdida de colágeno: tomar sol en exceso, el tabaco y las dietas muy restrictivas, por lo que vale la pena tener calidad de vida, con una dieta equilibrada y ejercicio físico, lo cual favorece aún más la absorción del colágeno.</p>
                <p>El consumo de Colágeno es perfecto para las personas que no practican deporte, para personas adultas mayores, o todo aquel que quiera reforzar su salud. Por este motivo se recomienda su consumo junto con Vitamina C, Condroitina, Magnesio, Ácido Hialurónico, además de vitaminas B2 y B6 que contribuyen a mejorar la salud de las articulaciones.</p>


              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">CONDROITINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                <p>El sulfato de condroitina es una sustancia química que normalmente se encuentra en el cartílago alrededor de las articulaciones. El sulfato de condroitina es manufacturado a partir de fuentes animales, como por ejemplo del cartílago de vaca.</p>
                <p>Puede brindar al cartílago los elementos básicos que necesita para repararse a sí mismo, bloquear las enzimas que destruyen al cartílago en las articulaciones, Aumentar la cantidad de ácido hialurónico en las articulaciones; el ácido hialurónico es un líquido protector que mantiene lubricadas las articulaciones, así como también podría tener un efecto antiinflamatorio moderado.</p>
                <p>El sulfato de condroitina forma parte de una molécula proteica grande (proteoglicano) que proporciona elasticidad al cartílago y es probablemente seguro para la mayoría de las personas. Se recomienda consumir dosis de 800 a 1,200 mg por día.</p>
                <p>Cuando se tiene osteoartritis, el cartílago en las articulaciones se rompe. El tomar sulfato de condroitina, uno de los componentes fundamentales en la formación de cartílago, podría retardar este rompimiento, ya que es un nutriente del tejido conectivo capaz de enlazar moléculas de agua para lubricar, amortiguar y apoyar las articulaciones.</p>
                <p>La ingesta de condroitina podría también frenar el progreso de la osteoporosis. A menudo se usa en combinación con otros productos, incluyendo ascorbato de manganeso, sulfato de glucosamina, clorhidrato de glucosamina o n-acetil glucosamina.</p>
                <p>Algunas personas usan el sulfato de condroitina para las enfermedades del corazón, la debilidad ósea (osteoporosis) y el colesterol alto. El sulfato de condroitina también se utiliza en un complejo con hierro para el tratamiento de la anemia por deficiencia de hierro.</p>
                <p>El sulfato de condroitina está disponible como gotas para los ojos para el tratamiento de la sequedad de los ojos. Además, se usa durante la cirugía de cataratas y como una solución para la conservación de las córneas que se usan en los trasplantes, la cual, está aprobado por la FDA para estos usos.</p>
                <p>La condroitina con o sin clorhidrato de glucosamina puede reducir el dolor en personas con enfermedad de Kashin-Beck, que es una afectación en huesos y articulaciones. Además, la ingesta de condroitina con glucosamina puede disminuir el achicamiento del espacio articular en personas con enfermedad ósea.</p>
                <p>También hay evidencias de que el tomar sulfato de condroitina por vía oral podría disminuir el riesgo de sufrir ya sea un primer o un recurrente ataque al corazón, asi como disminuye el dolor y mejora las afecciones de la piel en personas con psoriasis, que es el enrojecimiento e irritación de la piel.</p>
                <p>Varios estudios sugieren que la administración de sulfato de condroitina sódica dentro de la vejiga a través de una sonda urinaria mejora la calidad de vida en personas con vejiga hiperactiva.</p>
                <p>La administración una vez por semana de un sulfato de condroitina específico y de una solución de ácido hialurónico (IALURIL) a través de una sonda durante cuatro semanas y luego una vez por mes durante cinco meses reduce la infección de las vías urinarias en mujeres con antecedentes de infección de las vías urinarias.</p>


              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel --> 


          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">L-CITRULINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
                <p>La Citrulina es una sustancia que tiene la capacidad de producir un relajamiento de los vasos capilares. Además, al convertirse, a través del metabolismo, en un aminoácido llamado arginina, produce efectos beneficiosos en el corazón, en el aparato circulatorio y beneficia el sistema inmunológico. Estos dos compuestos tienen un rol importante en el ciclo de la urea, a través del cual se expulsa el amoníaco propio del cuerpo.</p>
                <p>Estudios de la Universidad de Texas A&M sugieren que desempeña un papel importante en la síntesis de sustancias en el organismo que mejoran la actividad sexual.</p>
                <p>La citrulina se comercializa en forma de suplemento dietario para mejorar el rendimiento atlético, pues se ha demostrado, en ensayos clínicos preliminares, que reduce la fatiga muscular.</p>
                <p>Probablemente el principal beneficio de la Citrulina sea mejorar la potencia y duración de las erecciones.</p>
                <p>La L-Citrulina es lo nuevo en el mercado para tratar los problemas eréctiles (disfunción eréctil).</p>
                <p>Por si todo esto fuera poco, la Citrulina puede mejorar la salud general de tus arterias. Lo cual es de gran ayuda ante los problemas de disfunción eréctil. Pero, como lo hace? Simple, tardando la progresión de la arterioesclerosis.</p>
                <p>Un estudio realizado en animales mostró que el aumento del óxido nítrico y en el flujo sanguíneo, sumado a la reducción del superóxido (Un potencial radical libre) puede ayudar en la batalla en contra del endurecimiento arterial.</p>
                <h5>La dosis recomendada es de 1 a 3 gramos por día.</h5>
                <p>La citrulina funciona como intermediaria en el ciclo de la urea, un ciclo de reacciones bioquímicas en el que se produce la urea a partir de amonio, una sustancia tóxica para el organismo y cuya acumulación reduce la formación de glucógeno muscular y provoca fatiga.</p>


              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->


           <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">L-ORNITIDINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                <p>El cuerpo utiliza la ornitidina para el apoyo inmunológico, la cicatrización de heridas y la reparación del hígado. Algunas personas toman estos suplementos de ornitidina porque supuestamente rejuvenecen el corazón, la piel, diversos tejidos y glándulas del cuerpo.</p>
                <p>Ciertos pacientes a menudo utilizan este suplemento después de la cirugía, a fin de acelerar el proceso de curación, mejorando infecciones y algunos la utilizan como inductor del sueño.</p>
                <p>La L-Ornitidina se considera no esencial, ya que el organismo la fabrica a partir del aminoácido L-arginina. De hecho, la ornitidina y la arginina son bastante similares en su estructura.</p>
                <p>La ornitidina es esencial para la fabricación de urea, que elimina el nitrógeno y el amoníaco del cuerpo, desechando así estas toxinas. El cuerpo utiliza la L-Ornitidina para sintetizar los aminoácidos arginina, prolina y otros.</p>
                <p>Los atletas han usado durante mucho tiempo la L-Ornitidina por su actividad anabólica, a pesar de que no existe una evidencia definitiva. Aunque el ácido amino no está involucrado con el proceso de síntesis de proteínas (recuperación del músculo), sí está implicado en la liberación de una hormona anabólica muy importante.</p>
                <p>La L-Ornitidina también está asociada con la producción en el cuerpo de la hormona del crecimiento humano, esta es bien conocida por sus propiedades anabólicas y la quema de grasa. El proceso de envejecimiento en sí mismo se debe en parte a una disminución del nivel de hormona del crecimiento, por lo que la Ornitidina mejora los trastornos del crecimiento, ayudando a liberar estas hormonas en el cuerpo.</p>
                <p>La L-Ornitidina es uno de los pocos aminoácidos que hacen que la glándula pituitaria libere más hormona del crecimiento. Según los partidarios del consumo de suplementos de ornitidina, esto ayudaría a obtener más crecimiento muscular, menos acumulación de grasa corporal y muchos otros beneficios, incluyendo una piel más joven y sana, aumento en los niveles de energía, mejora en la función cerebral y una elevación de la libido (deseo sexual).</p>

        <ul class="list-unordered">
          <li>Mejora la producción de la hormona del crecimiento humano.</li>
          <li>Colabora en el metabolismo de la grasa corporal (este efecto es mayor si es combinada con Arginina y Carnitina).</li>
          <li>Fortalece el sistema inmunológico.</li>
          <li>Desintoxica al organismo del amoníaco y ayuda en la regeneración del hígado.</li>
          <li>Estimula la secreción de insulina.</li>
          <li>Ayuda a que la insulina funcione como una hormona anabólica para construir el músculo.</li>
          <li>Mejorar el rendimiento atlético.</li>
          <li>Reducir la toxicidad de la glutamina en el tratamiento de la encefalopatía hepática.</li>
          <li>Mejorar la debilidad muscular.</li>
          <li>Colaborar en el tratamiento de la diabetes.</li>
          <li>Ayudar a tratar la obesidad.</li>
          <li>Aumenta el Libido sexual.</li>
        </ul>


              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel --> 


          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">CREATINA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseTen" class="panel-collapse collapse">
              <div class="panel-body">
                <p>La creatina es el suplemento más popular dentro de la comunidad culturista. Esta se deriva de los aminoácidos arginina, glicina y metionina, donde el cuerpo la fabrica básicamente en el hígado, los riñones y el páncreas.</p>
                <p>La creatina se acumula principalmente en los músculos esqueléticos (aproximadamente un 98%) en forma de creatina libre unida a una molécula de fosfato (PCr o fosfocreatina). La PCr sirve como fuente inmediata de energía para la contracción muscular, algo especialmente importante durante los ejercicios de breve duración, alta intensidad y carácter anaerobico. Otra función vital de la creatina es su capacidad para detener o rechazar los iones de hidrogeno, responsables de la bajada del pH del músculo y su conversión en mas acido, un factor que contribuye a la fatiga muscular.</p>
                <p>Cuando hacemos varias series de ejercicios anaeróbicos intensos, el PCr se puede llegar a agotar incluso en 10 segundos, esto puede contribuir a parte de nuestra incapacidad para levantar pesas o al incremento de la fatiga. La suplementación con creatina puede aumentar la creatina intramuscular tanto como en un tercio, lo que favorece la formación de PCr y a su vez ayuda para mantener una potencia máxima o casi máxima durante mas tiempo del habitual. Consecuentemente nuestros entrenamientos pueden ser más intensos y la fatiga producida por ellos inferior, lo que parece trasladarse a la larga en superiores incrementos del tamaño muscular.</p>
                <p>La creatina provoca que el agua del mismo cuerpo se introduzca en las células, haciéndolas más grandes y más firmes.</p>
                <p>Por lo general se ingieren de 20 a 30 gr. diarios de Monohidrato de creatina durante una semana, una dosis de unos 0.3 gr. por cada kilo de peso corporal. Esta dosis inicial incrementa aproximadamente un 30% los depósitos musculares de PCr. Los individuos que tengan más bajos esos depósitos son los que logran los incrementos mayores. Debido a que la cantidad de creatina acumulada en el músculo es algo limitado, se recomienda seguir con una fase de mantenimiento con unas dosis de 5 – 10 gr. diarios pueden mantener ostensiblemente los niveles totales de creatina establecidos a través del régimen de carga.</p>
                <p>Se ha demostrado que tomando creatina se puede correr durante más tiempo y con mayor intensidad. Se ha observado que la creatina produjo un ligero incremento en el porcentaje de fibras musculares Tipo llB, las mayores de las fibras musculares. Teóricamente, si pudiéramos aumentar el porcentaje de este tipo de fibras tendríamos mas capacidad para producir un gran rendimiento de fuerza y de potencia, en relación con las otras fibras de Tipo llA y l. Un incremento superior de fuerza se puede traducir en el incremento del potencial para el crecimiento de las fibras musculares.</p>
                <p>La creatina por lo tanto incrementa la energía muscular, y por ello se recomienda mucho su ingesta antes de entrenar, ya que nos ayudará a estar en perfectas condiciones para hacer correctamente todos los ejercicios y poder responder al máximo con nuestros músculos.</p>
                <h5>En conclusión la creatina sirve para:</h5>
                

        <ul class="list-unordered">
          <li>Retardar la fatiga: Nos permite soportar mejor un ejercicio duro, ya que «tapona» el efecto del ácido láctico, sobre todo en actividades breves e intensas.</li>
          <li>Aumento de la masa muscular y de la fuerza: La creatina intramuscular queda almacenada, haciendo a las células musculares absorber agua (hidratación celular). El acceso de agua al interior de la célula junto a la creatina y el glucógeno conlleva un aumento del volumen de la fibra muscular, así como de fuerza potencial. A mayor diámetro de la sección transversal, aumenta la masa muscular y por lo tanto más fuerza. Cuando el monohidrato de creatina está presente, las células musculares operan con mayor eficacia y aumentan de tamaño. Otra de las ventajas de su rápido funcionamiento es que pueden sintetizar más proteína con mayor diligencia, y la aceleración de la síntesis proteica permite que las células musculares se desarrollen más de lo que sería posible sin un suplemento de creatina. Una de las principales causas del sobreentrenamiento es la inexistencia de creatina intramuscular, frenándose la resíntesis del ATP. Un aporte de creatina asegura que eso no ocurra. Los culturistas se sienten animados a emplear creatina porque puede proveer energía a los músculos, resistencia de éstos y ayuda a reducir la grasa.</li>
          <li>Hipertrofia muscular: El aporte sostenido y consecuente aumento de volumen por el acceso de agua acompañante terminan obligando a la fibra muscular a adaptarse a esa situación y por lo tanto requiriendo de forma fisiológica un aumento de síntesis de nuevas proteínas musculares que adecuen volumen y tamaño.</li>
          <li>Mejora el ejercicio anaeróbico: El ejercicio intenso e intermitente, del tipo explosivo, es aquel que requiere del ATP y PCr. Velocistas, powerlifters y culturistas pueden beneficiarse de los suplementos de creatina, que estimula su rendimiento.</li>
        </ul>


                <p>La creatina es un anabólico que se emplea actualmente como suplemento dietético en algunos deportes de intensidad, debido a sus propiedades ergogénicas y que permite cargas repetitivas y breves periodos de recuperación, con el objetivo de ganar energía anaeróbica.</p>
                <p>Se ha mostrado eficaz en el tratamiento de la sarcopenia (pérdida de musculación debido al envejecimiento).</p>
                <p>Se aconseja realizar la carga si no se viene tomando habitualmente y luego seguir la fase de mantenimiento hasta 3 a 4 meses como máximo. Luego se debe cortar el consumo y descansar 1 mes como mínimo. Por lo general en ese mes se suplementa con glutamina para regenerar los músculos o se suspende la suplementación, y nunca se debe suspender el ejercicio, ya que es éste el complemento de la creatina acompañado de altas dosis de agua debido a que la creatina es un alto receptor de líquidos.</p>
        

              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel -->


           <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">EDULCORANTE AA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseEleven" class="panel-collapse collapse">
              <div class="panel-body">
                <p>El EDULCORANTE AA es un producto elaborado por SINER GROUP ® S de R.L., el cual es una mezcla de edulcorantes “NO CALORICOS” de alta intensidad con un poder de poco más de 450 veces más dulce que el azúcar.</p>
                <p>Es un polvo blanco prácticamente inodoro, con muy buena solubilidad en agua, de baja higroscopicidad que no proporciona resabio en los productos. Entre alguno de los componentes que puede contener están el Neotame, Sucralosa, Dextrosa y Acesulfame-K.</p>
                <p>Es un producto de calidad uniforme, de alta concentración, por lo que es de baja dosificación con una elevada eficiencia. No genera sabores extraños, metálicos o astringentes en las dosis recomendadas.</p>
                <p>Es un producto de alta solubilidad, con gran estabilidad en soluciones de amplios rangos de pH y de fácil hidratación a diferentes rangos de temperatura.</p>
                <p>El EDULCORANTE AA, es un producto que puede sustituir, en muy altos porcentajes, el contenido de azúcar o prácticamente en su totalidad, ayudando a bajar el contenido de calorías del producto terminado, no generando cambios del perfil organoléptico en el producto terminado.</p>
                <p>Mantiene la estabilidad original del producto sin afectar sus propiedades durante el almacenamiento.</p>
        

              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel --> 


          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">PROTEÍNA SERICA</a></h4>
            </div>
            <!-- end .panel-heading -->
            <div id="collapseTwelve" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Tanto el Aislado como el Concentrado de Proteína, son extraídas por un sistema de ultrafiltración de alta purificación. Esta fuente de proteína es excepcionalmente pura y contiene un espectro completo de proteína desnaturalizada soluble contenida en la leche, por tal motivo, aporta los aminoácidos esenciales que requiere el cuerpo humano.</p>
                <p>De sabor neutro, soluble en un amplio rango de pH y con propiedades únicas como su gran instantaneidad. En el Concentrado con más de un 80% y del Aislado con más de un 90% de Proteína de alta Bio-digestibilidad y asimilación.</p>
                <p>La dosis diaria recomendada es funcionalmente definida como la cantidad de proteína necesaria para evitar una deficiencia que daría lugar a una pérdida progresiva de la masa corporal magra, la cual, en caso de tratarse de un suplemento alimenticio, este, en forma de aislado o concentrado puede emplearse desde los 20 gr por día para cualquier edad.</p>
                <p>Después de analizar datos de diferentes fuentes, sabemos la cantidad mínima de proteína necesaria para evitar la pérdida de masa muscular es de alrededor de 0.36 gramos / kilo de peso corporal al día, la cual, es necesaria para el crecimiento y reparación de los músculos, huesos, tendones, piel, cabello y otros tejidos, mas hay que tomar en cuenta que se está hablando de seres humanos inactivos, y no de deportistas.</p>
                <p>Pero lo que es seguro, es que la comunidad científica admite, que la proteína que debemos consumir, debe ser mayor que la dosis diaria recomendada (sin llegar a la sobre ingesta). Una variedad de estudios han demostrado que los niveles de ingesta de proteínas por encima de lo recomendado, es beneficioso para nuestros niveles de masa muscular, de fuerza, de salud ósea, para el mantenimiento del equilibrio energético, la función cardiovascular y la cicatrización de las heridas.</p>
                <p>Esta proteína contiene principalmente aminoácidos como: Acido Aspartico, Treonina, Serina, Acido Glutámico, Glicina, Alanina, Valina, Isoleucina, Leucina, Tirosina, Fenilalanina, Histidina, Lisina, Arginina, Prolina, Cistina, Metionina, Triptófano, entre otros, siendo el:</p>

        <ul class="list-unordered">         
          <li>Acido Glutámico... 19%</li>
          <li>Leucina... 12%</li>
          <li>Lisina... 9%</li>
          <li>Treinina... 8%</li>
          <li>Prolina... 8%</li>
        </ul>
        

              </div>
              <!-- end .panel-body --> 
            </div>
            <!-- end .panel-collapse --> 
          </div>
          <!-- end .panel --> 


          
        </div>
        <!-- end .panel-group --> 
        
      </div>
      <!-- end .col-md-6 -->
      
    </div>
    <!-- end .row --> 
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->

  
  <!-- Icon Box 1
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Descargas</h3>
        <div class="titleline"></div>
        <!-- end .titleline --> 
      </div>
      <!-- end .col-md-12 --> 
    </div>
    <!-- end .row -->
    
    <div class="row">
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="docs/complementos.pdf" target="_blank"><i class="fa fa-child effect-8"></i></a></div>
          <h4>Complementos</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="docs/tabla_precios.pdf" target="_blank"><i class="fa fa-usd effect-8"></i></a></div>
          <h4>Lista de Precios</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="docs/costo_bonificacion.pdf" target="_blank"><i class="fa fa-bar-chart effect-8"></i></a></div>
          <h4>Costo -  Beneficio</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="shop.html" target="_blank"><i class="fa fa-cart-plus effect-8"></i></a></div>
          <h4>Tienda</h4>
          <p>Hacer pedido</p>
        </div>
      </div>
      <!-- end .col-md-3 --> 
      
    </div>
    <!-- end .row --> 
    
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->
  
  <!-- Footer Top
================================================== -->
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-top-left"> </div>
          <!-- end .footer-top-left --> 
        </div>
        <!-- end .col-md-4 -->
        
        <div class="col-md-8">
          <div class="footer-top-right"></div>
          <!-- end .footer-top-right --> 
        </div>
        <!-- end .col-md-8 --> 
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #footer-top --> 
  
  <!-- Footer
================================================== -->
   <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-about"> <a href="index.html"><img src="images/logo-footer.png" alt="" /></a>
            <p>Empresa de OUT SOURCING que inicia operaciones en enero 2004, cuenta con 11 personas ofreciendo algunas materias primas específicas para la industria de alimentos y consultoría en línea.</p>
            <div class="mb-20"></div>
            <!-- end .mb-20 -->
            <ul class="social-icons social-color">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- end .footer-about --> 
        </div>
        <!-- end .col-md-3 -->
        
        <div class="col-md-3">
          <h4>Popular</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-angle-right"></i><a href="#">Quienes Somos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Nuestros Productos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Últimas noticias</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Proyectos</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 -->
        
        
        <div class="col-md-3">
          <h4>Contacto</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-map-marker"></i><span>Dirección:</span><br>
              Jurica, Querétaro, México.</li>
            <li><i class="fa fa-phone"></i><span>Teléfono:</span><br>
              01 (442) 2186601</li>
              <li><i class="fa fa-mobile"></i><span>Celular:</span><br>
               442 275 5685 / 442 174 0218</li>
            <li><i class="fa fa-envelope"></i><span>E-mail:</span><br>
              <a href="mailto:#">mail@sinergroup.com.mx</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </footer>
  <!-- end #footer --> 
  
  <!-- Copyright
================================================== -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 

<!-- Java Script
================================================== --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/jquery-migrate-1.2.1.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="js/plugins.js"></script> 
<script src="js/custom.js"></script> 

</body>
</html>
