
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sinergroup</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">

<!-- Web Fonts
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i|Roboto:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/plugins.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/custom.css" />

<!-- IE
================================================== -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<style type="text/css">
.back-to-top {
background-image: url(http://sinergroup.com.mx/images/assets/back-to-top.png)!important;

}
.pagetitle {
  background-image: url(http://sinergroup.com.mx/images/features/pagetitle.jpg)!important;
}
</style>
<body>
<div id="boxed-layout"> 
  
  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  
  <!-- Header
================================================== -->
 <header id="header">
    <nav class="navbar yamm navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive" alt="" /></a></div>
        <!-- end .navbar-header -->
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href="socios.html">Socios</a></li>
              
            <li><a href="proteinapi_e.html">Aislado</a></li>

            <li><a href="proteinapc_e.html">Concetrado</a></li>
            <li><a href="complementos.html">Complementos</a></li>
          </ul>
          <!-- end .nav navbar-nav --> 
        </div>
        <!-- end .navbar-collapse collapse --> 
        
      </div>
      <!-- end .container --> 
    </nav>
    <!-- end .navbar -->
    
  </header>
  <!-- end #header -->
  <div class="clearfix"></div>
  <!-- end .clearfix --> 
  
  <!-- Page Title
================================================== -->
  <div class="pagetitle">
    <div class="pagetitle-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Concentrado de Proteína</h1>
        </div>
        <!-- end .col-md-12 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
    </div>
    <!-- end .pagetitle-overlay --> 
  </div>
  <!-- end .pagetitle -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 
  
  <!-- Why choose us
================================================== -->
  <div class="container">
    <div class="row wow">
      <div class="col-md-12">
        <h3>Concentrado de Proteína</h3>
        <div class="titleline"></div>
        <!-- end .titleline -->
        
        <div class="tab-side-container">
          <ul>
            <li><a href="#side-tab1">Nutrición</a></li>
            <li><a href="#side-tab2">Experiencia</a></li>
            <li><a href="#side-tab3">Capacidad</a></li>
          </ul>
          <div class="panel-container">
            <div id="side-tab1">
              <h4>Nutrición</h4>
              <p>El Concentrado de proteína SG ofrece un excelente valor nutricional con un placentero sabor cremoso. Es una fuente muy completa de proteína soluble dentro de un muy amplio rango de pH, disponible con más de un 80% de proteína en cualquiera de sus presentaciones.</p>
            </div>
            <div id="side-tab2">
              <h4>Experiencia</h4>
              <p>El Concentrado de proteína SG es una excelente solución para la nutrición infantil, elaboración de productos lácteos, mezclas secas, bebidas mezcladas y productos de panificación.</p>
            </div>
            <div id="side-tab3">
              <h4>Capacidad</h4>
              <p>El Concentrado de proteína SG tiene una muy alta capacidad de retención de agua y es altamente dispersable y mezclable. Este es muy empleado en mezclas secas, fortificación de productos a base de proteína, helados y formulas infantiles.</p>
            </div>
            <!-- end #side-tab3 --> 
          </div>
          <!-- end .panel-container --> 
        </div>
        <!-- end .tab-side-container -->
        <div class="clearfix"></div>
        <!-- end .clearfix --> 
        
      </div>
      <!-- end .col-md-12 -->

     <!-- lista .col-md-12 -->
      <div class="col-md-6">
      <h5>Características del producto</h5>
        <ul class="list-unordered">
          <li>Excelente fuente de proteína.</li>
          <li>Completamente dispersable y soluble.</li>
          <li>Muy alta capacidad de retención de agua.</li>
          <li>Excelente poder emulsificante.</li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-unordered">
          <br>
          <li>Sabor excepcional.</li>
          <li>Excelente valor nutricional.</li>
          <li>Excelente dispersabilidad.</li>
          <li>Muy fácil mezclado e incorporación.</li>
        </ul>
      </div>
      <!-- end lista .col-md-12 -->

       <!--tabla .col-md-12 -->
      <div class="col-md-12">
        <h3>ESPECIFICACIONES</h3>
        <div class="titleline"></div>
        <!--tabla 01 -->
          <h4>Análisis Típicos</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Proteína ...</td>
              <td>>80%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Grasa ...</td>
              <td><5.0%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Minerales ...</td>
              <td><3.5%</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Lactosa ...</td>
              <td><5.0%</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Humedad ...</td>
              <td>5.0%</td>
            </tr>
            <tr>
              <td>6</td>
              <td>pH (10% a 20%C)...</td>
              <td>6.0 - 6.5</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 01 -->
        <!--tabla 02 -->
        <h4>Información Nutrimental /100g</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Calorías ...</td>
              <td>400 kcal</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Calorias derivadas de la grasa ...</td>
              <td>40 kcal</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Grasas Totales ...</td>
              <td>4.60 g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Grasas Saturadas ...</td>
              <td>2.40 g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Grasas Poliinsaturadas ...</td>
              <td>0.70 g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Grasas Monoinsaturadas ...</td>
              <td>1.30 g</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Ácidos Grasos Trans...</td>
              <td>0.20 g</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Colesterol...</td>
              <td>244 mg</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Carbohidratos Totales...</td>
              <td>6.0 g</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Fibra Distética ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Azucares ...</td>
              <td>5.0 g</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Proteína en base seca ...</td>
              <td>84 g</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Vitamina A ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Vitamina C ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Tiamina ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Niacina ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Riboflavina ...</td>
              <td>---</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Calcio ...</td>
              <td>380 mg</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Sodio ...</td>
              <td>214 mg</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Potasio ...</td>
              <td>380 mg</td>
            </tr>
            <tr>
              <td>21</td>
              <td>Magnesio ...</td>
              <td>60 mg</td>
            </tr>
            <tr>
              <td>22</td>
              <td>Hierro...</td>
              <td>0.9 mg</td>
            </tr>
            <tr>
              <td>23</td>
              <td>Fosforo ...</td>
              <td>333 mg</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 02 -->
        <!--tabla 03 -->
          <h4>Análisis Microbiológico</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Cuenta estándar...</td>
              <td><30,000 cfu/g</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Coliformes...</td>
              <td>10 cfu/g</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Hongos y Levaduras...</td>
              <td><50 cfu/g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Coag. Pos. Staph...</td>
              <td><10 cfu/g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Salmonella...</td>
              <td>Negative/375g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Listeria...</td>
              <td>Negative/50g</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 03 -->
        <!--tabla 04 -->
          <h4>Perfil de Aminoácidos</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Aminoácidos</th>
              <th>g/100 g proteína</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Acido Aspártico ...</td>
              <td>7.8 g</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Treonina ...</td>
              <td>5.1 g</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Serina ...</td>
              <td>3.3 g</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Acido Glutámico ...</td>
              <td>11.5 g</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Glicina ...</td>
              <td>1.4 g</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Alanina ...</td>
              <td>3.8 g</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Valina ...</td>
              <td>3.7 g</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Isoleucina ...</td>
              <td>4.6</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Leucina ...</td>
              <td>7.2 g</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Tirosina...</td>
              <td>1.9 g</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Fenilalanina ...</td>
              <td>1.0 g</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Histidina ...</td>
              <td>2.1 g</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Lisina ...</td>
              <td>6.3 g</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Arginina ...</td>
              <td>1.5 g</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Prolina ...</td>
              <td>4.6 g</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Cistína ...</td>
              <td>1.9 g</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Metionina...</td>
              <td>1.5 g</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Triptófano ...</td>
              <td>0.8 g</td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 04 -->

        <div class="col-md-6">
          <h5>Sugerencias de Uso</h5>
        <ul class="list-unordered">
          <br>
          <li>Productos fortificados con proteína.</li>
          <li>Bebidas preparadas.</li>
          <li>Mezclas secas.</li>
          <li>Productos de panificación.</li>
          <li>Nutrición infantil.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

        <div class="col-md-6">
          <h5>Recomendaciones para etiquetado</h5>
        <ul class="list-unordered">
          <br>
          <li>Aislado de proteína Animal de alta capacidad de absorción, Lecitina (Derivado de la soya).</li>
          <li>Información Alérgenos: Contiene leche e ingredientes de la soya.</li>
          <li>Aprobación Kosher y Halal.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

        <div class="col-md-12">
          <h5>Empacado y almacenamiento</h5>
        <ul class="list-unordered">
          <br>
          <li>Empacado en Bolsa grado Alimenticio con Zip Cal. 3.6</li>
          <li>Bolsa “Pouch” o “Stand up” de aluminio con Barrera a la humedad, vapor y luz.</li>
          <li>Pesos netos
              <ul>
                <li>20 gr (10 pzs)</li>
                <li>150 gr</li>
                <li>450 gr</li>
                <li>1 kg</li>
                <li>3 kg</li>
                <li>5 kg</li>
                <li>Empaque al tamaño y peso de la elección del cliente bajo pedidos de más de 1 kg.</li>
              </ul>
          </li>
          <li>Almacenarse de preferencia en un lugar fresco y seco.</li>
          <li>De preferencia en un ambiente debajo de los 25oC (77o F)y con una humedad relativa no mayor al 65%.</li>
          <li>Mantener alejado de aromas u olores fuertes y de cualquier otro tipo de contaminantes ambientales.</li>
          <li>Con un manejo adecuado de inventario y la rotación correcta, el producto puede durar más de 2 años.</li>
        </ul>
        </div>
        <!--end tabla 04 -->

      </div>
      <!--end tabla .col-md-12 -->
    </div>
    <!-- end .row --> 
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->

  <!-- Icon Box 1
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Descargas</h3>
        <div class="titleline"></div>
        <!-- end .titleline --> 
      </div>
      <!-- end .col-md-12 --> 
    </div>
    <!-- end .row -->
    
    <div class="row">
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="#" target="_blank"><i class="fa fa-child effect-8"></i></a></div>
          <h4>Concentrado de Proteína</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="pdf/Precios_CP.pdf" target="_blank"><i class="fa fa-usd effect-8"></i></a></div>
          <h4>Lista de Precios</h4>
          <p>Descarga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="pdf/Cost_bon_CP.pdf" target="_blank"><i class="fa fa-bar-chart effect-8"></i></a></div>
          <h4>Costo - Beneficio</h4>
          <p>Descraga PDF</p>
        </div>
      </div>
      <!-- end .col-md-3 -->
      
      <div class="col-md-3">
        <div class="iconbox1">
          <div class="iconbox1-icon"><a href="shop.html" target="_blank"><i class="fa fa-cart-plus effect-8"></i></a></div>
          <h4>Tienda</h4>
          <p>Hacer pedido</p>
        </div>
      </div>
      <!-- end .col-md-3 --> 
      
    </div>
    <!-- end .row --> 
    
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->
   
  <!-- Footer Top
================================================== -->
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-top-left"> </div>
          <!-- end .footer-top-left --> 
        </div>
        <!-- end .col-md-4 -->
        
        <div class="col-md-8">
          <div class="footer-top-right"></div>
          <!-- end .footer-top-right --> 
        </div>
        <!-- end .col-md-8 --> 
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #footer-top --> 
  
  <!-- Footer
================================================== -->
   <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-about"> <a href="http://sinergroup.com.mx/index.html"><img src="http://sinergroup.com.mx/images/logo-footer.png" alt="" /></a>
            <p>Empresa de OUT SOURCING que inicia operaciones en enero 2004, cuenta con 11 personas ofreciendo algunas materias primas específicas para la industria de alimentos y consultoría en línea.</p>
            <div class="mb-20"></div>
            <!-- end .mb-20 -->
            <ul class="social-icons social-color">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- end .footer-about --> 
        </div>
        <!-- end .col-md-3 -->
        
        <div class="col-md-3">
          <h4>Popular</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-angle-right"></i><a href="#">Quienes Somos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Nuestros Productos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Últimas noticias</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Proyectos</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 -->
        
        
        <div class="col-md-3">
          <h4>Contacto</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-map-marker"></i><span>Dirección:</span><br>
              Jurica, Querétaro, México.</li>
            <li><i class="fa fa-phone"></i><span>Teléfono:</span><br>
              01 (442) 2186601</li>
              <li><i class="fa fa-mobile"></i><span>Celular:</span><br>
               442 275 5685 / 442 174 0218</li>
            <li><i class="fa fa-envelope"></i><span>E-mail:</span><br>
              <a href="mailto:#">mail@sinergroup.com.mx</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </footer>
  <!-- end #footer --> 
  
  <!-- Copyright
================================================== -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 

<!-- Java Script
================================================== --> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058280/jquery-1.11.3.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058370/jquery-migrate-1.2.1.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058415/bootstrap1.min.js"></script> 
<script type="text/javascript" src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058500/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058547/jquery.themepunch.revolution.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058602/plugins.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058643/custom.js"></script> 

</body>
</html>
