<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sinergroup</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">

<!-- Web Fonts
================================================== -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i|Roboto:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/plugins.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/custom.css" />

<!-- IE
================================================== -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<style type="text/css">
.back-to-top {
background-image: url(http://sinergroup.com.mx/images/assets/back-to-top.png)!important;

}
.pagetitle {
  background-image: url(http://sinergroup.com.mx/images/features/pagetitle.jpg)!important;
}
</style>
<body>
<div id="boxed-layout"> 
  
  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  
  <!-- Header
================================================== -->
 <%= render "header" %>
  <div class="clearfix"></div>
  <!-- end .clearfix --> 
  
  <!-- Page Title
================================================== -->
  <div class="pagetitle">
    <div class="pagetitle-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Proteínas SG</h1>
        </div>
        <!-- end .col-md-12 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
    </div>
    <!-- end .pagetitle-overlay --> 
  </div>
  <!-- end .pagetitle -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 
  
  <!-- What we do
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Proteínas SG</h3>
        <div class="titleline"></div>
        <!-- end .titleline -->
        <p>Las proteínas SG son un suplemento e ingrediente alimenticio desarrollado a partir de la separación de los componentes de la leche.</p>
        <p>Las Proteínas SG son elaborada bajo un proceso que garantiza el 100% de su asimilación y absorción por el cuerpo humano, creada a partir de su única fuente, de origen animal, en tres tipos diferentes de presentación:<span class="highlight-theme">Aislado (IP), Concentrado (CP) y Pellet (PP).</span></p>
        <p>La diferencia entre estos 3 tipos de proteína, es su composición, en especifico su contenido de proteína. Los aislados contienen el mayor porcentaje de proteína pura y puede ser lo suficientemente puro para ser virtualmente libre de lactosa, libre de carbohidratos, sin grasa y sin colesterol. El concentrado tiene alrededor de 10% menos de proteínas y contiene un bajo porcentaje de grasa y lactosa al igual que los pellets.</p>
        <p>Las proteínas SG son altamente biodisponibles (alta digestibilidad), son absorbidas muy rápidamente en el cuerpo, y tienen una alta concentración de aminoácidos de cadena ramificada que están altamente concentradas en el tejido muscular, estos son utilizados para alimentar los músculos de trabajo y estimular la síntesis de proteínas.</p>
        <p>Estos tres diferentes tipos de proteínas, ofrecen un excelente valor nutricional y propiedades funcionales superiores a otras, como su sabor, solubilidad y estabilidad térmica.</p>
        <h5>También contamos con la opción en la que usted mismo puede desarrollar su propia formulación usando ingredientes especiales como Lactoferrina, ácidos grasos esenciales como el DHA / AA (omega 3/6), aminoácidos esenciales como Citrulina, Arginina, Glutamina, otros tipos de proteínas, fibra, etc. </h5>
      </div>
      <!-- end .col-md-6 -->

      
      <div class="col-md-6">
        <div class="owl-single owl-carousel owl-theme">
          <div class="item"><img src="images/features/feature_01.jpg" alt="" /></div>
          <div class="item"><img src="images/features/feature_02.jpg" alt="" /></div>
          <div class="item"><img src="images/features/feature_03.jpg" alt="" /></div>
        </div>
      </div>
      <!-- end .col-md-6 --> 

      <div class="col-md-6">
        <blockquote><p>Las Proteínas SG tienen mucho mejor sabor y vienen en presentaciones mas practicas, dándole a usted la facilidad de consumir una de las fuentes mas puras de proteína que hay en el mercado.</p>
        <p>La proteína SG es popular entre los atletas del día de hoy, debido a su capacidad para ser digerida rápidamente, ayudando a regresar al cuerpo humano, después de hacer ejercicio, de un estado catatónico (desgaste de musculo) a un estado anabólico (reparación de musculo).</p></blockquote>
      </div>
      <!-- end .col-md-6 -->
      <div class="col-md-6">
        <blockquote><p>La Proteína SG es ampliamente utilizada como ingrediente de formulas infantiles, fuente muy importante de aminoácidos esenciales para el optimo desarrollo y crecimiento del infante.</p>
        <p>También es utilizada como fuente de proteína para la fortificación de barras de cereales, bebidas, producto lácteos, botanas extruidas, cereales y otros productos alimenticios.</p>
        <p>Además, contiene un alto nivel de Glutamina, Leucina, Cisteína, entre otros aminoácidos esenciales. Estos elementos, en combinación con el muy alto contenido de proteína pura, provee al cuerpo un complemento ideal para aquellas personas que buscan alimentarse sanamente y buscan un estilo de vida saludable.</p></blockquote>
      </div>
      <!-- end .col-md-6 -->

    </div>
    <!-- end .row --> 
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 
  
  <!-- Our Services
================================================== -->
  <div class="wrapper-graybg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Proteinas SG</h3>
          <div class="titleline"></div>
          <!-- end .titleline --> 
        </div>
        <!-- end .col-md-12 --> 
      </div>
      <!-- end .row -->

      <div class="row">
      <div class="col-md-12">
          <div class="iconbox2">
            <div class="iconbox2-bg"><i class="fa fa-eye"></i></div>
            <div class="iconbox2-icon"><i class="fa fa-eye effect-8"></i></div>
            <div class="iconbox2-content">
              <h5>Sabor</h5>
              <p>De sabor neutro, ligeramente lácteo, soluble en un amplio rango de pH a cualquier temperatura, con propiedades únicas como su gran instantaneidad.</p>
              <h5>Origen</h5>
              <p>Tanto el Aislado, el Concentrado y el Pellet de Proteína, son extraídas por un sistema de ultrafiltración de alta purificación. Esta fuente de proteína es excepcionalmente pura y contiene un espectro completo de proteína desnaturalizada soluble contenida en la leche, por tal motivo, aporta los aminoácidos esenciales y específicos que requiere el cuerpo humano.</p>
            </div>
          </div>
          <!-- end .iconbox2 --> 
        </div>
        <!-- end .col-md-12 -->

        <div class="col-md-12">
          <div class="iconbox2">
            <div class="iconbox2-bg"><i class="fa fa-heart"></i></div>
            <div class="iconbox2-icon"><i class="fa fa-heart effect-8"></i></div>
            <div class="iconbox2-content">
        <h5>Las Proteínas SG le darán a usted una variedad de beneficios como:</h5>
        <p>Los tres diferentes tipos de proteínas SG, ofrecen un excelente valor nutricional y propiedades funcionales superiores a otras, como su sabor, solubilidad y estabilidad térmica.</p>
        <p>Las proteínas SG son altamente biodisponibles (alta digestibilidad), son absorbidas muy rápidamente en el cuerpo, y tienen una alta concentración de aminoácidos de cadena ramificada que están altamente concentradas en el tejido muscular, estos son utilizados para alimentar los músculos de trabajo y estimular la síntesis de proteínas</p>
        <ul class="list-unordered">
          <li>Ayudan al crecimiento del musculo con su alta capacidad de digestibilidad y absorción.</li>
          <li>Ayuda a la perdida de grasas en el cuerpo.</li>
          <li>Aumenta las funciones inmunológicas del cuerpo.</li>
          <li>Reducen el riesgo de cáncer de mama en las mujeres.</li>
          <li>Mejora el control de los niveles de glucosa en la sangre.</li>
          <li>Previene la perdida de fuerza en el músculo y huesos en adultos mayores  u otras personas durante su proceso normal de crecimiento y envejecimiento.</li>
          <li>Los atletas la pueden usar durante su régimen de entrenamiento para mejorar su rendimiento e incrementar su masa muscular magra.</li>
          <li>Cuando el cuerpo esta sometido a un alto estrés físico, como el ejercicio, el músculo de forma natural y normal, sufre un rompimiento y reparación, nuestras proteínas optimizan la reparación del músculo acelerando el tiempo que toma la regeneración del tejido muscular.</li>
          <li>Incrementa la producción del Glutatión (GSH) (Cisteína, Glutamato, Glicina) que es un muy potente antioxidante en el cuerpo humano.</li>
          <li>La oxidación de las grasas es mejorada para producir una mayor cantidad de energía.</li>
          <li>Previene el desgaste muscular.</li>
          <li>incrementa la fuerza, Beneficia las funciones inmunológicas y mejora la salud.</li>
          <li>Puede mejorar la digestión, ayudando a regular los movimientos intestinales y de ciertas formas, puede ser consumido por aquellos que son intolerantes a la lactosa.</li>
          <li>La Glutamina y la Leucina estimulan la síntesis de la proteína después del ejercicio y son responsables de reducir el daño al tejido muscular mejorando su resistencia.</li>
          <li>La Cisteína ayuda a la producción del Glutatión, el cual es el principal antioxidante en las células ayudando al mantenimiento de la masa muscular.</li>
          <li>La alta concentración de aminoácidos de cadena ramificada son específicamente responsables del optimo mantenimiento y reparación del tejido muscular.</li>
          <li>Para los niños es un excelente complemento como fuente de proteína, con la cual ellos pueden alimentarse de una forma saludable con los mismos beneficios que los adultos.</li>
        </ul>
            </div>
          </div>
          <!-- end .iconbox2 --> 
        </div>
        <!-- end .col-md-12 -->

        
        <div class="col-md-12">
          <div class="iconbox2">
            <div class="iconbox2-bg"><i class="fa fa-magic"></i></div>
            <div class="iconbox2-icon"><i class="fa fa-magic effect-8"></i></div>
            <div class="iconbox2-content">
              <h5>Complementos</h5>
              <p>Contamos con los siguientes complementos, los cuales puede adquirir desde 1 gr.</p>
              <ul class="list-unordered">
                <li>Acido Graso Omega 3 (DHA)</li>
                <li>Acido Graso Omega 6 (AA)</li>
                <li>Fibra (FOS) Inulina</li>
                <li>Lactoferrina</li>
                <li>L-Arginina</li>
                <li>L-Carnitina</li>
                <li>Glucosamina</li>
                <li>Colageno de Res</li>
                <li>Condroitina</li>
                <li>L-Citrulina</li>
                <li>L-Ornitidina</li>
                <li>Creatina</li>
              </ul>
              <h5>EXCLUSIVIDADES</h5>
              <p>Usted puede diseñar su propia formulación adicionando sus propios complementos (Ver lista complementos), decidiendo el peso exacto de su presentación. Nuestros precios están un 30% más abajo que otros, con igual o mejor calidad de proteína animal.
              <p>Aseguramos el más alto contenido de proteína natural con la mejor calidad en el mercado.</p>
              <p>Aseguramos el máximo contenido de proteína sin ninguna modificación de su fuente natural.</p>
              <p>Aseguramos el más alto contenido de aminoácidos proveniente de su fuente natural.</p>
          </div>
          <!-- end .iconbox2 --> 
        </div>
        <!-- end .col-md-12 -->

        <div class="col-md-12">
          <div class="iconbox2">
            <div class="iconbox2-bg"><i class="fa fa-exclamation"></i></div>
            <div class="iconbox2-icon"><i class="fa fa-exclamation effect-8"></i></div>
            <div class="iconbox2-content">
              <h5>ADVERTENCIAS</h5>
              <p>Como cualquier otro complemento alimenticio, antes de consumirlos, es muy importante que usted este familiarizado con los efectos laterales y advertencias. Aun con lo muy benéfico que pueden ser estas fuentes de proteína para usted, debe de ser consumida con cuidado. Este producto debe de ser evitado si usted tiene alergia a la leche de vaca, si usted esta tomando prescripción médica, es recomendable que hable con su médico antes de tomar cualquier tipo de suplemento.</p>
              <h5>“ESTOS PRODUCTOS SON UN SUPLEMENTO ALIMENTICIO, SIENDO RESPONSABILIDAD DE QUIENES LO CONSUMEN”</h5>
            </div>
          </div>
          <!-- end .iconbox2 --> 
        </div>
        <!-- end .col-md-12 -->

        <div class="col-md-12">
          <div class="iconbox2">
            <div class="iconbox2-bg"><i class="fa fa-thumbs-o-up"></i></div>
            <div class="iconbox2-icon"><i class="fa fa-thumbs-o-up effect-8"></i></div>
            <div class="iconbox2-content">
              <h5>DOSIS RECOMENDADA DE PROTEÍNA</h5>
              <p>La dosis diaria de proteína recomendada, se basa en los resultados de todos los estudios disponibles que estima el consumo mínimo de proteínas necesaria para evitar la pérdida progresiva de la masa corporal magra, a consecuencia del balance de nitrógeno.</p>
              <p>La dosis diaria recomendada es funcionalmente definida como la cantidad de proteína necesaria para evitar una deficiencia que daría lugar a una pérdida progresiva de la masa corporal magra, la cual, en caso de tratarse de un suplemento alimenticio, este, en forma de aislado o concentrado puede emplearse desde los 20 gr por día para cualquier edad.</p>
              <p>Estudios de investigación publicado en el Diario de la Asociación Médica de Estados Unidos elaboró un informe por la Junta Directiva del Instituto de Medicina para determinar la ingesta óptima de las proteínas macronutrientes, carbohidratos y grasas. En cuanto a la ingesta de proteínas, la cantidad de proteínas recomendada para personas de más de 18 y menos de 60 años fue de hasta 0,8 g de proteína por kilogramo de peso corporal por día promedio.</p>
              <p>También hay directrices dietéticas publicadas por el Departamento de Agricultura y programas Gubernamentales de los Estados Unidos para programas de almuerzos escolares para niños y comidas a domicilio para personas de edad avanzada, donde se recomiendan se utilicen 0,36 gramos por kilo (menores de 18 y mayores de 60 años).</p>
              <p>Después de analizar datos de diferentes fuentes, sabemos la cantidad mínima de proteína necesaria para evitar la pérdida de masa muscular es de alrededor de 0.36 gramos / kilo de peso corporal al día, la cual, es necesaria para el crecimiento y reparación de los músculos, huesos, tendones, piel, cabello y otros tejidos, mas hay que tomar en cuenta que se está hablando de seres humanos inactivos, y no de deportistas.</p>
              <p>¿Qué pasa si hacemos deporte? La cantidad mínima de proteína para los atletas debe ser de al menos 0.55 gramos / kilo / día. Dependiendo del deporte o del régimen de entrenamiento que sigamos, el requerimiento diario puede aumentar hasta 1 y 1.2 gramos de proteína por kilo, mas es importante que antes de consumirlo consulte a su médico.</p>
              <p>Hay quienes aseguran tomar hasta 400 grs por día sin consecuencia alguna, nosotros no recomendaríamos mas de 100grs por día de la proteína SG, y eso, siempre y cuando la actividad física de quien la consuma sea elevada; en caso contrario entre 20 y 40 grs por día, es correcto.</p>
              <p>Para determinar una estimación razonable de nuestra necesidad diaria de proteínas, deberemos tener en cuenta factores tales como edad, altura, peso, nivel de actividad y/o de entrenamiento.</p>
              <p>Pero lo que es seguro, es que la comunidad científica admite, que la proteína que debemos consumir, debe ser mayor que la dosis diaria recomendada. Una variedad de estudios han demostrado que los niveles de ingesta de proteínas por encima de lo recomendado, es beneficioso para nuestros niveles de masa muscular, de fuerza, de salud ósea, para el mantenimiento del equilibrio energético, la función cardiovascular y la cicatrización de las heridas.</p>
              <h5>Sin embargo, el consumo mayor a lo recomendado de este suplemento alimenticio, siempre deberá de ser con el debido cuidado, y en caso de requerirse bajo la observación de un médico competente ya que como todo suplemento, el uso de estos productos, es responsabilidad de quién los consume.</h5>
              <p>Se ha analizado, que una ingesta superior de proteínas no reporta efectos adversos, siempre y cuando no sea excesiva. En consecuencia, no existe un nivel de consumo máximo tolerable para la proteína, aunque no es adecuado abusar para evitar el deterioro del hígado y la oxidación de las células corporales al tener que metabolizar las proteínas.</p>
              <h5>Es importante tomar en cuenta que el cuerpo necesita de horas para asimilar la proteína animal como sería la del Huevo, leche, pescado o carne, mientras que en los suplementos proteínicos, como la Proteína SG, solo se necesita de algunos minutos para que sean asimilados.</h5>

            </div>
          </div>
          <!-- end .iconbox2 --> 
        </div>
        <!-- end .col-md-12 -->


        <div class="col-md-12">
          <div class="iconbox2">
            <div class="iconbox2-bg"><i class="fa fa-shield"></i></div>
            <div class="iconbox2-icon"><i class="fa fa-shield effect-8"></i></div>
            <div class="iconbox2-content">
              <h5>SUGERENCIAS DE CONSUMO DIARIO</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descripción</th>
              <th>Recomendación</th>
              <th>Unidad</th>
              <th>Frecuencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MP1</td>
              <td>Aislado de Proteína</td>
              <td>30</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP2</td>
              <td>Concentrado de Proteína</td>
              <td>40</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP3</td>
              <td>Pellet de Proteína</td>
              <td>45</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP4</td>
              <td>Omega 3 (DHA)</td>
              <td>100</td>
              <td>Miligramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP5</td>
              <td>Omega 6 (AA)</td>
              <td>100</td>
              <td>Miligramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP6</td>
              <td>Lactoferrina</td>
              <td>100</td>
              <td>Miligramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP7</td>
              <td>Colágeno Hidrolizado</td>
              <td>5 a 10</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP8</td>
              <td>Fibra (FOS-Inulina)</td>
              <td>5 a 8</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP9</td>
              <td>L-Arginina</td>
              <td>3 a 5</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP10</td>
              <td>Glucosamina Sulfato</td>
              <td>1,500</td>
              <td>Miligramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP11</td>
              <td>Condroitina</td>
              <td>800 a 1,200</td>
              <td>Miligramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP12</td>
              <td>Creatina</td>
              <td>5 a 10</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP13</td>
              <td>L-Citrulina</td>
              <td>1 a 2</td>
              <td>Gramos</td>
              <td>Diario</td>
            </tr>
            <tr>
              <td>MP14</td>
              <td>L-Ornitidina</td>
              <td>500</td>
              <td>Miligramos</td>
              <td>Diario</td>
            </tr>
             <tr>
              <td>MP-21</td>
              <td>Endulzanto no calórico</td>
              <td>0.1 a 0.5</td>
              <td>Gramos/Kilo</td>
              <td></td>
            </tr>
            <tr>
              <td>MP-22</td>
              <td>Fresa láctea polvo</td>
              <td>3</td>
              <td>Gramos/Kilo</td>
              <td></td>
            </tr>
            <tr>
              <td>MP-23</td>
              <td>Chocolate lácteo polvo</td>
              <td>5</td>
              <td>Gramos/Kilo</td>
              <td></td>
            </tr>
            <tr>
              <td>MP-24</td>
              <td>Vainilla láctea polvo</td>
              <td>3</td>
              <td>Gramos/Kilo</td>
              <td></td>
            </tr>
             <tr>
              <td>MP-25</td>
              <td>Sabor leche polvo M-7569</td>
              <td>1</td>
              <td>Gramos/Kilo</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!--end tabla 01 -->
            </div>
          </div>
          <!-- end .iconbox2 --> 
        </div>
        <!-- end .col-md-12 -->


      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end .wrapper-graybg -->
  <div class="mb-100"></div>
  <!-- end .mb-100 -->

  <!-- Photo Title
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>PRODUCTOS</h3>
        <div class="titleline"></div>
        <!-- end .titleline --> 
      </div>
      <!-- end .col-md-12 --> 
    </div>
    <!-- end .row -->
    
    <div class="col-md-4">
        <figure class="effect-phoebe frame2"> <img src="http://sinergroup.com.mx/images/portfolio/thumb_01.jpg" alt=""/>
          <figcaption>
            <p> <a href="/aislados"><i class="fa fa-link effect-8"></i></a></p>
          </figcaption>
        </figure>
        <div class="clearfix"></div>
        <div class="photo-title2">
          <h5>Aislado IP</h5>
          <p>- Information -</p>
        </div>
        <!-- end .photo-title2 --> 
      </div>
      <!-- end .col-md-4 -->
      
      <div class="col-md-4">
        <figure class="effect-phoebe frame2"> <img src="http://sinergroup.com.mx/images/portfolio/thumb_02.jpg" alt=""/>
          <figcaption>
            <p> <a href="/concentrado"><i class="fa fa-link effect-8"></i></a></p>
          </figcaption>
        </figure>
        <div class="clearfix"></div>
        <div class="photo-title2">
          <h5>Concentrado CP</h5>
          <p>- Información -</p>
        </div>
        <!-- end .photo-title2 --> 
      </div>
      <!-- end .col-md-4 -->
      
      <div class="col-md-4">
        <figure class="effect-phoebe frame2"> <img src="http://sinergroup.com.mx/images/portfolio/thumb_03.jpg" alt=""/>
          <figcaption>
            <p> <a href="/complementos"><i class="fa fa-link effect-8"></i></a></p>
          </figcaption>
        </figure>
        <div class="clearfix"></div>
        <div class="photo-title2">
          <h5>Complementos</h5>
          <p>- Información -</p>
        </div>
        <!-- end .photo-title2 --> 
      </div>
      <!-- end .col-md-4 -->
      
    </div>
    <!-- end .row --> 
  </div>
  <!-- end .container -->
  <div class="mb-100"></div>
  <!-- end .mb-100 --> 
  
  <!-- Footer Top
================================================== -->
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-top-left"> </div>
          <!-- end .footer-top-left --> 
        </div>
        <!-- end .col-md-4 -->
        
        <div class="col-md-8">
          <div class="footer-top-right"></div>
          <!-- end .footer-top-right --> 
        </div>
        <!-- end .col-md-8 --> 
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #footer-top --> 
  
  <!-- Footer
================================================== -->
   <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-about"> <a href="http://sinergroup.com.mx/index.html"><img src="http://sinergroup.com.mx/images/logo-footer.png" alt="" /></a>
            <p>Empresa de OUT SOURCING que inicia operaciones en enero 2004, cuenta con 11 personas ofreciendo algunas materias primas específicas para la industria de alimentos y consultoría en línea.</p>
            <div class="mb-20"></div>
            <!-- end .mb-20 -->
            <ul class="social-icons social-color">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- end .footer-about --> 
        </div>
        <!-- end .col-md-3 -->
        
        <div class="col-md-3">
          <h4>Popular</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-angle-right"></i><a href="#">Quienes Somos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Nuestros Productos</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Últimas noticias</a></li>
            <li><i class="fa fa-angle-right"></i><a href="#">Proyectos</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 -->
        
        
        <div class="col-md-3">
          <h4>Contacto</h4>
          <div class="titleline-footer"></div>
          <!-- end .titleline-footer -->
          <ul class="footer-list">
            <li><i class="fa fa-map-marker"></i><span>Dirección:</span><br>
              Jurica, Querétaro, México.</li>
            <li><i class="fa fa-phone"></i><span>Teléfono:</span><br>
              01 (442) 2186601</li>
              <li><i class="fa fa-mobile"></i><span>Celular:</span><br>
               442 275 5685 / 442 174 0218</li>
            <li><i class="fa fa-envelope"></i><span>E-mail:</span><br>
              <a href="mailto:#">mail@sinergroup.com.mx</a></li>
          </ul>
        </div>
        <!-- end .col-md-3 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </footer>
  <!-- end #footer --> 
  
  <!-- Copyright
================================================== -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 

<!-- Java Script
================================================== --> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058280/jquery-1.11.3.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058370/jquery-migrate-1.2.1.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058415/bootstrap1.min.js"></script> 
<script type="text/javascript" src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058500/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058547/jquery.themepunch.revolution.min.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058602/plugins.js"></script> 
<script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1477058643/custom.js"></script> 

</body>
</html>
