  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
<header id="header">
    <nav class="navbar yamm navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/">
            <%= image_tag("logo.png",:class=>"img-responsive") %>
            </a></div>
        <!-- end .navbar-header -->
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html" data-toggle="dropdown" data-submenu>Inicio<i></i></a>
              <ul class="dropdown-menu">
                  <ul class="dropdown-menu">
                    </li>
                    <!-- end .dropdown-submenu -->
                  </ul>
                </li>
                <!-- end .dropdown-submenu -->
                
              </ul>
            </li>
            <li><a href="#">Comercializadora</a></li>

            <li class="dropdown yamm-fw"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Proyectos <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="yamm-content">
                    <div class="row">
                      <div class="col-sm-3">
                        <h4>UNIFOODS</h4>
                        <ul class="icon-arrow-list">
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                        </ul>
                      </div>
                      <!-- end .col-sm-3 -->
                      
                      <div class="col-sm-3">
                        <h4>L´OREAL</h4>
                        <ul class="icon-arrow-list">
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                        </ul>
                      </div>
                      <!-- end .col-sm-3 -->
                      
                      <div class="col-sm-3">
                        <h4>PALSGAARD</h4>
                        <ul class="icon-arrow-list">
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                        </ul>
                      </div>
                      <!-- end .col-sm-3 -->
                      
                      <div class="col-sm-3">
                        <h4>ASESOR TÉCNICO</h4>
                        <ul class="icon-arrow-list">
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i> Proyecto</a></li>
                        </ul>
                      </div>
                      <!-- end .col-sm-3 --> 
                      
                    </div>
                    <!-- end .row --> 
                  </div>
                  <!-- end .yamm-content -->

                  
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Tienda <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Proteína</a></li>
                <li><a href="#">Omega 3</a></li>
                <li><a href="#">Producto</a></li>
                <li><a href="#">Producto</a></li>
                <li><a href="#">Producto</a></li>
              </ul>
            </li>
            
            <li><a href="#">Contacto</a></li>
          </ul>
          <!-- end .nav navbar-nav --> 
        </div>
        <!-- end .navbar-collapse collapse --> 
        
      </div>
      <!-- end .container --> 
    </nav>
    <!-- end .navbar --> 
</header>