  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
<%= render "header" %>
<div class="row">
  <div class="col-md-1 sidebar-line"></div>
  <div class="col-md-5">
        <h2>ADVERTENCIAS</h2>
        <div class="titleline"></div>
        <!-- end .titleline -->

        <div class="clearfix"></div>
        <div class="divider-singledotted"></div>
        <div class="mb-20"></div>
        <!-- end .mb-20 -->
        
        <p>Como cualquier otro complemento alimenticio, antes de consumirlos, es muy importante que usted este familiarizado con los efectos laterales y advertencias. Aun con lo muy benéfico que pueden ser estas fuentes de proteína para usted, debe de ser consumida con cuidado. Este producto debe de ser evitado si usted tiene alergia a la leche de vaca, si usted esta tomando prescripción médica, es recomendable que hable con su médico antes de tomar cualquier tipo de suplemento.</p>
        <h5>“ESTOS PRODUCTOS SON UN SUPLEMENTO ALIMENTICIO, SIENDO RESPONSABILIDAD DE QUIENES LO CONSUMEN”</h5>
        <div class="divider-singledotted"></div>
        <div class="mb-20"></div>
        <!-- end .mb-20 --> 
</div>
<div class="col-md-5">
        <h2>RECOMENDACIONES</h2>
        <div class="titleline"></div>
        <!-- end .titleline -->

        <div class="clearfix"></div>
        <div class="divider-singledotted"></div>
        <div class="mb-20"></div>
        <!-- end .mb-20 -->
        <p>La información contenida en esta página no debe reemplazar las recomendaciones e indicaciones proporcionadas por su médico.
          Las Materias primas que aquí se ofrecen, son productos importados y probados desde hace muchos años en el mercado, pero no dejan de ser suplementos nutricionales y como tales no están sujetos a las mismas estrictas reglamentaciones requeridas para los fármacos o alimentos de venta libre y sin receta.
          Por consiguiente, si decide tomar cualquier de nuestros suplementos, lo hará por su cuenta y antes de hacerlo le Recomendamos que Consulte a su medico.
          Es importante que NO interrumpa ni redúzcala dosis de los medicamentos recetados que toma actualmente hasta consultar al doctor</p>
        <h5>“EL CONSUMO DE ESTOS SUPLEMENTOS ES RESPONSABILIDAD DE QUIEN LOS ADQUIERE Y SONSUME"</h5>
        <div class="divider-singledotted"></div>
        <div class="mb-20"></div>
        <!-- end .mb-20 --> 
</div>
      <!-- end .col-md-6 --> 
<div class="col-md-1 sidebar-line"></div>

</div>
<div class="row">
  <div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10">
    <a href="/tienda" class="btn btn-info">Acepto</a>
  </div>
  <div class="col-md-1 sidebar-line">

  </div>

  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 

