<div class="row">
<div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10 sidebar-line">

<h1>ADVERTENCIAS</h1>
<p>Como cualquier otro complemento alimenticio, antes de consumirlos, es muy importante que usted este familiarizado con los efectos laterales y advertencias. Aun con lo muy benéfico que pueden ser estas fuentes de proteína para usted, debe de ser consumida con cuidado. Este producto debe de ser evitado si usted tiene alergia a la leche de vaca, si usted esta tomando prescripción médica, es recomendable que hable con su médico antes de tomar cualquier tipo de suplemento.</p>
<strong>“ESTOS PRODUCTOS SON UN SUPLEMENTO ALIMENTICIO, SIENDO RESPONSABILIDAD DE QUIENES LO CONSUMEN”</strong>

<h1>RECOMENDACIONES</h1>
<p>La información contenida en ésta página no debe reemplazar las recomendaciones e indicaciones proporcionadas por su médico.</p>
<p>Las Materias primas que aquí se ofrecen, son productos importados y probados desde hace muchos años en el mercado, pero no dejan de ser suplementos nutricionales y como tales no están sujetos a las mismas estrictas reglamentaciones requeridas para los fármacos o alimentos de venta libre y sin receta.</p>
<p>Por consiguiente, si decide tomar cualquier de nuestros suplementos, lo hará por su cuenta y antes de hacerlo le Recomendamos que Consulte a su medico.</p>
<p>Es importante que NO interrumpa ni redúzcala dosis de los medicamentos recetados que toma actualmente hasta consultar al doctor</p>
<strong>“El consumo de estos suplementos es responsabilidad de quien los adquiere y consume”</strong><br>
<a href="/tienda" class="btn btn-info">Aceptar</a>
</div>
<div class="col-md-1 sidebar-line"></div>
</div>
