body { background: #eeeeee url("../../images/assets/colors/pattern7.png") repeat; }
#boxed-layout {
	max-width: 1200px!important;
	margin: auto;
	background: #ffffff;
}
#header { max-width: 1200px!important; }
#rev_slider_fullwidth_wrapper, .rev_slider_wrapper, .fullscreen-container, #rev_slider_fullwidth, .rev_slider fullscreenbanner {
	max-width: 1200px!important;
	margin: auto!important;
	left: 0!important;
	right: 0!important;
}
