/* Transparent White 2 Dropdown No Line */
.dropdown-menu {
	background-color: #fdfdfd;
	background-color: rgba(255,255,255,0.8);
}
@media (min-width: 768px) {
.dropdown-menu > li { border-bottom: none; }
}
.dropdown-menu > li > a { color: #555555; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: #ffffff; }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color: #ffffff; }
.yamm .yamm-content { color: #555555; }
.yamm .yamm-content h4 { color: #555555; }
.yamm .yamm-content .icon-arrow-list li a { color: #555555; }
