.navbar-brand { padding: 22px 10px; }
@media (min-width: 768px) {
.navbar-nav { margin: 0px 0px; }
.navbar-nav > li > a { padding: 51px 10px; }
}
.dropdown-menu { top: 124px; }
.navbar-toggle {
	margin-top: 45px;
	margin-bottom: 45px;
}
 @media (min-width: 768px) {
.sticky-header .navbar-brand { padding: 12px 10px; }
.sticky-header .navbar-brand img { height: 50px; }
.sticky-header .navbar-nav { margin: 0px 0px; }
.sticky-header .navbar-nav > li > a { padding: 26px 10px; }
.sticky-header .dropdown-menu { top: 74px; }
}
@media (min-width: 768px) and (max-width: 991px) {
.navbar-nav > li > a { padding: 51px 5px; }
.sticky-header .navbar-nav > li > a { padding: 26px 5px; }
}
