/* ----------------------------------------------------------------------
	Pink
---------------------------------------------------------------------- */
a { color: #cc66cc; }
::selection { background: #cc66cc; }
::-moz-selection { background: #cc66cc; }
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus { color: #cc66cc; }
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus { color: #cc66cc; }
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus { color: #cc66cc; }
@media (min-width: 768px) {
.dropdown-menu { border-top: 4px solid #cc66cc; }
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus { background-color: #cc66cc; }
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus { background-color: #cc66cc; }
@media (min-width: 768px) {
.yamm .yamm-content ul li:hover { background: #cc66cc; }
}
.navbar-toggle {
	background-color: #cc66cc;
	border: 1px solid #cc66cc;
}
.navbar-default .navbar-toggle { border-color: #cc66cc; }
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus { background-color: #cc66cc; }
@media (max-width: 767px) {
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus { background-color: #cc66cc; }
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus { background-color: #cc66cc; }
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus { background-color: #cc66cc; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #cc66cc; }
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus { color: #cc66cc; }
.yamm .yamm-content ul li:hover i, .yamm .yamm-content ul li:hover a, 
.yamm .yamm-content ul li a:hover { color: #cc66cc; }
}
.topbar-search .dropdown-menu { border-top: 4px solid #cc66cc; }
.input-group .btn-default { background-color: #cc66cc; }
@media (min-width: 768px) {
#topbar:before { background: #cc66cc; }
#topbar:after {
	border-top: 60px solid #cc66cc;
	border-left: 10px solid #cc66cc;
	-webkit-box-shadow: -1px 0px 0px #cc66cc;
	box-shadow: -1px 0px 0px #cc66cc;
}
}
.titleline { border-top: 1px solid #cc66cc; }
.titleline-center { border-top: 1px solid #cc66cc; }
.titleline-footer { border-top: 1px solid #cc66cc; }
.titleline-icon { border-top: 4px double #cc66cc; }
.titleline-icon:after { color: #cc66cc; }
.subtitle { color: #cc66cc; }
#footer-top { background: #cc66cc; }
.social-icons > li a i:hover { background: #cc66cc; }
#topbar .social-icons > li a i:hover { background: #cc66cc; }
.social-icons > li a i:hover {
	background: #cc66cc;
}
#footer .social-icons > li a i:hover { background: #cc66cc; }
.back-to-top:hover, .back-to-top:focus { background-color: #cc66cc; }
.blog-info { background: #cc66cc; }
.blog-title-icon span > i {
	border: 1px solid #cc66cc;
	color: #cc66cc;
}
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
	background-color: #cc66cc;
	border-color: #cc66cc;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color: #cc66cc;
	border-color: #cc66cc;
}
.sidebar-list li i { color: #cc66cc; }
.sidebar-tag li { border: 1px solid #cc66cc; }
.sidebar-tag li:hover { background: #cc66cc; }
.sidebar-tag li a { color: #cc66cc; }
.button:hover {
	color: #cc66cc;
	border: 1px solid #cc66cc;
}
.button:active, .button.is-checked {
	border: 1px solid #cc66cc;
	background: #cc66cc;
}
.theme-large { color: #cc66cc; }
.theme-medium { color: #cc66cc; }
.theme-small { color: #cc66cc; }
.theme-bg {
	background-color: #cc66cc;
	background-color: rgba(204,102,204,0.7);
}
.owl-theme-large { color: #cc66cc; }
.owl-theme-medium { color: #cc66cc; }
.owl-theme-small { color: #cc66cc; }
.owl-theme-bg {
	background-color: #cc66cc;
	background-color: rgba(204,102,204,0.7);
}
.cart-dropdown .dropdown-menu { border-top: 4px solid #cc66cc; }
.dropcap-theme { background: #cc66cc; }
.icon-arrow-list li i { color: #cc66cc; }
blockquote { border-left: 5px solid #cc66cc; }
.skillbar-theme { background-color: #cc66cc; }
.photo-title3 { background: #cc66cc; }
.chartbox-icon i { color: #cc66cc; }
.panel-heading a { background-color: #cc66cc; }
.toggle-container h4.active { background-color: #cc66cc; }
.tab a.active { color: #cc66cc; }
.tab-side-container ul li a.selected-tab { color: #cc66cc; }
.contentbox-theme { background: #cc66cc; }
.contentbox-theme .triangle-right {
	border-left: 15px solid #cc66cc;
	-webkit-box-shadow: -1px 0px 0px #cc66cc;
	box-shadow: -1px 0px 0px #cc66cc;
}
.contentbox-theme .triangle-left {
	border-right: 15px solid #cc66cc;
	-webkit-box-shadow: 1px 0px 0px #cc66cc;
	box-shadow: 1px 0px 0px #cc66cc;
}
.contentbox-theme .triangle-top {
	border-bottom: 15px solid #cc66cc;
	-webkit-box-shadow: 0px 1px 0px #cc66cc;
	box-shadow: 0px 1px 0px #cc66cc;
}
.contentbox-theme .triangle-bottom {
	border-top: 15px solid #cc66cc;
	-webkit-box-shadow: 0px -1px 0px #cc66cc;
	box-shadow: 0px -1px 0px #cc66cc;
}
.iconbox1-icon i {
	border: 1px solid #cc66cc;
	background: #cc66cc;
}
.iconbox1:hover .iconbox1-icon i { color: #cc66cc; }
.iconbox2-icon i {
	border: 1px solid #cc66cc;
	background: #cc66cc;
}
.iconbox2:hover .iconbox2-icon i { color: #cc66cc; }
.photobox2:hover .photobox2-content { border: 5px solid #cc66cc; }
.process-3 { background: #cc66cc; }
.process-content h4 i { color: #cc66cc; }
.tooltip-point { color: #cc66cc; }
.btn-theme { background: #cc66cc; }
.text-theme { color: #cc66cc; }
.highlight-theme { background: #cc66cc; }
.effect-phoebe { background: #cc66cc; }
.effect-phoebe p i:hover { color: #cc66cc; }
@-webkit-keyframes sonarEffect {  0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc66cc, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc66cc, 0 0 0 10px rgba(255,255,255,0.5);
 -webkit-transform: scale(1.5);
 opacity: 0;
}
}
@-moz-keyframes sonarEffect {  0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc66cc, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc66cc, 0 0 0 10px rgba(255,255,255,0.5);
 -moz-transform: scale(1.5);
 opacity: 0;
}
}
@keyframes sonarEffect {  0% {
 opacity: 0.3;
}
 40% {
 opacity: 0.5;
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc66cc, 0 0 0 10px rgba(255,255,255,0.5);
}
 100% {
 box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #cc66cc, 0 0 0 10px rgba(255,255,255,0.5);
 transform: scale(1.5);
 opacity: 0;
}
}
.price-theme { background: #cc66cc; }
.parallax-overlay-theme {
	background: #cc66cc;
	background: rgba(204,102,204,0.7);
}
.widebox-black-content .titleline-icon { border-top: 1px solid #cc66cc; }
.widebox-black-content .titleline-icon:after { color: #cc66cc; }
